.latestblogs-position-relative{position:relative !important}

.latestblogs-boing--text__heading-0,.latestblogs-boing--text__heading-1{font-family:Barlow;font-weight:700;line-height:normal}

.latestblogs-boing--text__heading-1{font-size:1.latestblogs-5rem}

.latestblogs-boing--text__title-3,.latestblogs-primary-btn,.latestblogs-secondary-btn,.latestblogs-tertiary-btn{font-family:Barlow;font-size:1rem;font-weight:600;line-height:normal}

.latestblogs-boing--text__body-1,.latestblogs-boing--text__body-2{font-family:Barlow;font-weight:400;line-height:normal}

.latestblogs-boing--text__body-2{font-size:1rem}

.latestblogs-boing--text__body-5{font-family:Barlow;font-size:.latestblogs-75rem;font-weight:500;line-height:normal}

.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cards .latestblogs-boing--text__body{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;overflow:hidden}