.spaceadder-vertical-padding-section {
  padding-top: 5rem; /* Equivalent to 80px assuming 16px base */
}
@media (max-width: 47.9375rem) {
  .spaceadder-vertical-padding-section {
    padding-top: 2.5rem; /* Equivalent to 40px assuming 16px base */
  }
}