.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.position-relative{position:relative !important}

.w-100{width:100% !important}

.h-100{height:100% !important}

.m-0{margin:0 !important}

.mb-3{margin-bottom:.5rem !important}

.p-0{padding:0 !important}

.pb-3{padding-bottom:.5rem !important}

.pb-4{padding-bottom:.75rem !important}

.text-center{text-align:center !important}

.text-white,.text-white-active:active,.text-white-disabled:disabled,.text-white-focus:focus,.text-white-hover:hover{--bs-text-opacity:1;color:#fff !important}

.boing--text__heading-0,.boing--text__heading-1{font-family:Barlow;font-weight:700;line-height:normal}

.boing--text__heading-1{font-size:1.5rem}

.boing--text__title-3,.primary-btn,.secondary-btn,.tertiary-btn{font-family:Barlow;font-size:1rem;font-weight:600;line-height:normal}

.boing--text__body-1,.boing--text__body-2{font-family:Barlow;font-weight:400;line-height:normal}

.boing--text__body-2{font-size:1rem}

.boing--text__body-5{font-family:Barlow;font-size:.75rem;font-weight:500;line-height:normal}

.article_listing--wrapper{border-radius:2rem;margin:0 0 -3.3125rem;padding-bottom:4.375rem;padding-top:4.0625rem;position:relative;width:100%}

.article_listing--wrapper:before{background-blend-mode:overlay;background-color:#aa1f30;background-image:url(clientlib-boing/resources/images/static/bg-image.png);background-position:100% 115%;background-repeat:no-repeat;border-radius:2rem;content:"";height:100%;left:0;position:absolute;top:0;-webkit-transform:skewY(-8.74deg);transform:skewY(-8.74deg);width:100%;z-index:1}

.article_listing--wrapper .article_listing{padding-bottom:1.5625rem;position:relative;z-index:1}

.article_listing--wrapper .article_listing--desc{padding-inline:2rem}

.article_listing--wrapper .article_listing_section--first{padding-inline:1rem;padding-bottom:2rem}

.article_listing--wrapper .article_listing_section--second{-ms-overflow-style:none;background-position:top;background-repeat:no-repeat;gap:1rem;overflow-x:scroll;padding-inline:1rem;scrollbar-width:none}

.article_listing--wrapper .article_listing_section--second::-webkit-scrollbar{display:none}

.article_listing--wrapper .article_listing_section--second .article_listing--cardWrapper{text-decoration:none}

.article_listing--wrapper .article_listing_section--second .article_listing--cards{background-color:#f6bb00;border-radius:1.625rem;width:14rem}

.article_listing--wrapper .article_listing_section--second .article_listing--cards .boing--text__body{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;overflow:hidden}

.article_listing--wrapper .article_listing_section--second .article_listing--cardImageWrapper{height:14rem;width:14rem}

.article_listing--wrapper .article_listing_section--second .article_listing--cardImageWrapper .article_listing--cardImage{border-top-left-radius:1.625rem;border-top-right-radius:1.625rem}

.article_listing--wrapper .article_listing_section--second .cards_content--wrapper{color:#030303;padding:1rem 1rem 1.625rem}

.article_listing--wrapper .article_listing--btn{-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#f6bb00;border-radius:1.375rem;color:#030303;display:-webkit-box;display:-ms-flexbox;display:flex;gap:.625rem;margin-inline:auto;padding:.75rem 1.375rem;text-align:center;text-decoration:none;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}

audio,canvas,img,video{vertical-align:middle}

a:focus{outline:0}

a{color:#000;outline:0 !important}

@media print{
  a,a:visited{text-decoration:none}
  a[href]:after{content:" (" attr(href) ")"}
  img,tr{page-break-inside:avoid}
  img{max-width:100% !important}
  h2,h3,p{orphans:3;widows:3}
  h2,h3{page-break-after:avoid}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

a:focus{outline:thin dotted}

a:active,a:hover{outline:0}

img{-ms-interpolation-mode:bicubic;border:0}

a img{border:0}

a,a:hover{text-decoration:none}

.d-flex { display: flex !important; }

.position-relative { position: relative !important; }

.w-100 { width: 100% !important; }

.h-100 { height: 100% !important; }

.m-0 { margin: 0px !important; }

.mb-3 { margin-bottom: 0.5rem !important; }

.p-0 { padding: 0px !important; }

.pb-3 { padding-bottom: 0.5rem !important; }

.pb-4 { padding-bottom: 0.75rem !important; }

.text-center { text-align: center !important; }

.text-white, .text-white-active:active, .text-white-disabled:disabled, .text-white-focus:focus, .text-white-hover:hover { --bs-text-opacity: 1; color: rgb(255, 255, 255) !important; }

.boing--text__heading-0, .boing--text__heading-1 { font-family: Barlow; font-weight: 700; line-height: normal; }

.boing--text__heading-1 { font-size: 1.5rem; }

.boing--text__title-3, .primary-btn, .secondary-btn, .tertiary-btn { font-family: Barlow; font-size: 1rem; font-weight: 600; line-height: normal; }

.boing--text__body-1, .boing--text__body-2 { font-family: Barlow; font-weight: 400; line-height: normal; }

.boing--text__body-2 { font-size: 1rem; }

.boing--text__body-5 { font-family: Barlow; font-size: 0.75rem; font-weight: 500; line-height: normal; }

.article_listing--wrapper { border-radius: 2rem; margin: 0px 0px -3.3125rem; padding-bottom: 4.375rem; padding-top: 4.0625rem; position: relative; width: 100%; }

.article_listing--wrapper::before { background-blend-mode: overlay; background-color: rgb(170, 31, 48); background-image: url("clientlib-boing/resources/images/static/bg-image.png"); background-position: 100% 115%; background-repeat: no-repeat; border-radius: 2rem; content: ""; height: 100%; left: 0px; position: absolute; top: 0px; transform: skewY(-8.74deg); width: 100%; z-index: 1; }

.article_listing--wrapper .article_listing { padding-bottom: 1.5625rem; position: relative; z-index: 1; }

.article_listing--wrapper .article_listing--desc { padding-inline: 2rem; }

.article_listing--wrapper .article_listing_section--first { padding-inline: 1rem; padding-bottom: 2rem; }

.article_listing--wrapper .article_listing_section--second { background-position: center top; background-repeat: no-repeat; gap: 1rem; overflow-x: scroll; padding-inline: 1rem; scrollbar-width: none; }

.article_listing--wrapper .article_listing_section--second::-webkit-scrollbar { display: none; }

.article_listing--wrapper .article_listing_section--second .article_listing--cardWrapper { text-decoration: none; }

.article_listing--wrapper .article_listing_section--second .article_listing--cards { background-color: rgb(246, 187, 0); border-radius: 1.625rem; width: 14rem; }

.article_listing--wrapper .article_listing_section--second .article_listing--cards .boing--text__body { -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: -webkit-box; overflow: hidden; }

.article_listing--wrapper .article_listing_section--second .article_listing--cardImageWrapper { height: 14rem; width: 14rem; }

.article_listing--wrapper .article_listing_section--second .article_listing--cardImageWrapper .article_listing--cardImage { border-top-left-radius: 1.625rem; border-top-right-radius: 1.625rem; }

.article_listing--wrapper .article_listing_section--second .cards_content--wrapper { color: rgb(3, 3, 3); padding: 1rem 1rem 1.625rem; }

.article_listing--wrapper .article_listing--btn { -webkit-box-align: center; align-items: center; background-color: rgb(246, 187, 0); border-radius: 1.375rem; color: rgb(3, 3, 3); display: flex; gap: 0.625rem; margin-inline: auto; padding: 0.75rem 1.375rem; text-align: center; text-decoration: none; width: fit-content; }

audio, canvas, img, video { vertical-align: middle; }

a:focus { outline: 0px; }

a { color: rgb(0, 0, 0); outline: 0px !important; }

@media print {
  a, a:visited { text-decoration: none; }
  a[href]::after { content: " (" attr(href) ")"; }
  img, tr { break-inside: avoid; }
  img { max-width: 100% !important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { break-after: avoid; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a:focus { outline: dotted thin; }

a:active, a:hover { outline: 0px; }

img { border: 0px; }

a img { border: 0px; }

a, a:hover { text-decoration: none; }