.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{--bs-gutter-x:1.5rem;--bs-gutter-y:0;margin-left:auto;margin-right:auto;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%}

@media(min-width:576px){
  .container,.container-sm{max-width:540px}
}

@media(min-width:768px){
  .container,.container-md,.container-sm{max-width:45pc}
}

@media(min-width:992px){
  .container,.container-lg,.container-md,.container-sm{max-width:60pc}
}

@media(min-width:1200px){
  .container,.container-lg,.container-md,.container-sm,.container-xl{max-width:855pt}
}

@media(min-width:1400px){
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:990pt}
}

.fixed-top{top:0}

.fixed-bottom,.fixed-top{left:0;position:fixed;right:0;z-index:1030}

.object-fit-contain{-o-object-fit:contain !important;object-fit:contain !important}

.opacity-25{opacity:.25 !important}

.overflow-hidden{overflow:hidden !important}

.d-inline-block{display:inline-block !important}

.d-grid{display:grid !important}

.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.d-none{display:none !important}

.position-relative{position:relative !important}

.position-absolute{position:absolute !important}

.position-fixed{position:fixed !important}

.top-0{top:0 !important}

.start-0{left:0 !important}

.end-0{right:0 !important}

.border-bottom{border-bottom:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important}

.border-boing-neutral-gray-200,.border-boing-neutral-gray-200-active:active,.border-boing-neutral-gray-200-disabled:disabled,.border-boing-neutral-gray-200-focus:focus,.border-boing-neutral-gray-200-hover:hover{--bs-border-opacity:1;border-color:#d9d9d9 !important}

.w-25{width:25% !important}

.w-100{width:100% !important}

.h-100{height:100% !important}

.flex-column,.flex-row{-webkit-box-direction:normal !important}

.flex-column{-webkit-box-orient:vertical !important;-ms-flex-direction:column !important;flex-direction:column !important}

.flex-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}

.justify-content-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}

.justify-content-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}

.justify-content-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}

.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}

.m-auto{margin:auto !important}

.me-4{margin-right:.75rem !important}

.mb-15{margin-bottom:3.5rem !important}

.px-4{padding-left:.75rem !important;padding-right:.75rem !important}

.px-5{padding-left:1rem !important;padding-right:1rem !important}

.px-6{padding-left:1.25rem !important;padding-right:1.25rem !important}

.px-10{padding-left:2.25rem !important;padding-right:2.25rem !important}

.py-2{padding-bottom:.25rem !important;padding-top:.25rem !important}

.py-3{padding-bottom:.5rem !important;padding-top:.5rem !important}

.py-5{padding-bottom:1rem !important;padding-top:1rem !important}

.py-6{padding-bottom:1.25rem !important;padding-top:1.25rem !important}

.pb-5{padding-bottom:1rem !important}

.gap-3{gap:.5rem !important}

.gap-16{gap:3.75rem !important}

.fw-medium{font-weight:500 !important}

.fw-semibold{font-weight:600 !important}

.text-center{text-align:center !important}

.text-decoration-none{text-decoration:none !important}

.text-white,.text-white-active:active,.text-white-disabled:disabled,.text-white-focus:focus,.text-white-hover:hover{--bs-text-opacity:1;color:#fff !important}

.text-boing-primary,.text-boing-primary-active:active,.text-boing-primary-disabled:disabled,.text-boing-primary-focus:focus,.text-boing-primary-hover:hover{--bs-text-opacity:1;color:#aa1f30 !important}

.bg-black,.bg-black-active:active,.bg-black-disabled:disabled,.bg-black-focus:focus,.bg-black-hover:hover{--bs-bg-opacity:1;background-color:#000 !important}

.bg-white,.bg-white-active:active,.bg-white-disabled:disabled,.bg-white-focus:focus,.bg-white-hover:hover{--bs-bg-opacity:1;background-color:#fff !important}

.bg-transparent,.bg-transparent-active:active,.bg-transparent-disabled:disabled,.bg-transparent-focus:focus,.bg-transparent-hover:hover{--bs-bg-opacity:1;background-color:transparent !important}

.bg-boing-neutral-gray-600,.bg-boing-neutral-gray-600-active:active,.bg-boing-neutral-gray-600-disabled:disabled,.bg-boing-neutral-gray-600-focus:focus,.bg-boing-neutral-gray-600-hover:hover{--bs-bg-opacity:1;background-color:#161616 !important}

.rounded-4{border-radius:var(--bs-border-radius-xl) !important}

@media(min-width:768px){
  .d-md-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}
  .flex-md-row{-webkit-box-orient:horizontal !important;-ms-flex-direction:row !important;flex-direction:row !important}
  .flex-md-column,.flex-md-row{-webkit-box-direction:normal !important}
  .justify-content-md-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}
  .align-items-md-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}
}

.header{-webkit-box-shadow:.125rem .125rem .9375rem 0 rgba(0,0,0,.071);box-shadow:.125rem .125rem .9375rem 0 rgba(0,0,0,.071);max-height:3.5rem}

.header__logo-img{display:inline-block;height:3.125rem}

.header__login-btn-wrapper{display:none}

.header__login-btn{border:.0625rem solid #aa1f30;cursor:pointer;font-size:.75rem}

.footer-brand{padding-bottom:6rem;padding-top:11.0625rem;position:relative}

@media(max-width:440px){
  .footer-brand{padding-top:9rem}
}

.footer-brand .footer-brand__primary{background-position:50%;background-repeat:no-repeat;background-size:cover;padding:0 max(min(3.75rem,16vw),1rem) 1rem}

.footer-brand .footer-brand__primary .container{padding:0;width:100%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content{-webkit-box-pack:start !important;-ms-flex-pack:start !important;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-webkit-column-gap:7.5rem;-moz-column-gap:7.5rem;column-gap:7.5rem;-ms-flex-direction:column !important;flex-direction:column !important;justify-content:flex-start !important;row-gap:2rem}

@media(max-width:767.98px){
  .footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left{min-height:55px}
}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left .footer-brand__logo{height:3.9375rem;min-width:3.375rem}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left .footer-brand__secondary--logo{max-height:100%;min-width:4.375rem;width:4.375rem}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right{width:100%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar{grid-template-columns:repeat(2,1fr)}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footerList{height:50%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footerList:not(:has(*)){display:none;height:0}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;gap:2.25rem;height:100%;justify-content:space-between !important;list-style:none}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item{width:100%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item .footer-list__item--link{color:#fff;cursor:pointer;font-size:.75rem;font-weight:600;line-height:1.5;text-decoration:none;white-space:wrap}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item .footer-list__item--link:hover{text-decoration:underline}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left{-webkit-box-align:start;-ms-flex-align:start;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;align-items:flex-start;border-right:1px solid hsla(0,0,85%,.302);-ms-flex-direction:column !important;flex-direction:column !important;gap:2.25rem;padding-right:2rem;width:100%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left .footerList .footer-list__item{text-align:left}

@media(min-width:768px){
  .footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left .footerList:first-child .footer-list{padding-left:0}
}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--right{-webkit-box-align:start;-ms-flex-align:start;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;align-items:flex-start;-ms-flex-direction:column !important;flex-direction:column !important;gap:2.25rem;padding-left:2rem;width:100%}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--right .footerList:last-child .footer-list{border:0}

.footer-brand .footer-brand__secondary{padding:1rem 1.5rem}

.footer-brand .footer-brand__secondary .container{padding:0;width:100%}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content{row-gap:1.5rem}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--list{list-style:none;row-gap:.5rem}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item{border-right:.125rem solid hsla(0,0,100%,.302);padding:0 1.5rem}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item:first-child{padding-left:0}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item:last-child{border:0;padding-right:0}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item.foot_link:last-of-type{border:0}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item .footer-brand__left--link{color:#fff;display:inline-block;font-size:1.25rem;line-height:1.5;text-decoration:none}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item .footer-brand__left--link:hover{text-decoration:underline}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--copyright{display:inline-block;font-size:.75rem;line-height:1.5}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--copyright .footer-brand__left--text{color:#fff}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .social_media--title{color:#fff;font-size:1.5rem;font-weight:700;line-height:2rem;padding-bottom:1.25rem;text-align:center}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list{-webkit-box-pack:center;-ms-flex-pack:center;gap:1rem;justify-content:center;list-style:none;max-width:100%}

@media(max-width:767.98px){
  .footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list{min-height:40px}
}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item{border-color:#f6bb00;border-radius:50%}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item .footer-brand__right--link{height:2.6875rem;-webkit-transition:-webkit-transform .2s linear;transition:-webkit-transform .2s linear;transition:transform .2s linear;transition:transform .2s linear,-webkit-transform .2s linear;width:2.6875rem}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item .footer-brand__right--link:hover{-webkit-transform:scale(1.3334);transform:scale(1.3334)}

.boing-container{--bs-gutter-x:0;--bs-gutter-y:0;margin-left:auto;margin-right:auto;max-width:33.75rem;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%}

button,html,input,select,textarea{color:#222}

audio,canvas,img,video{vertical-align:middle}

a:focus{outline:0}

a{color:#000;outline:0 !important}

@media print{
  a,a:visited{text-decoration:none}
  a[href]:after{content:" (" attr(href) ")"}
  img,tr{page-break-inside:avoid}
  img{max-width:100% !important}
  h2,h3,p{orphans:3;widows:3}
  h2,h3{page-break-after:avoid}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

button,html,input,select,textarea{font-family:sans-serif}

a:focus{outline:thin dotted}

a:active,a:hover{outline:0}

dl,menu,ol,ul{margin:1em 0}

menu,ol,ul{padding:0 0 0 40px}

nav ol,nav ul{list-style:none;list-style-image:none}

img{-ms-interpolation-mode:bicubic;border:0}

button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle}

button,input{line-height:normal}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

a img{border:0}

a,a:hover{text-decoration:none}

li,ul{list-style:none;margin:0;padding:0}

button,input,optgroup,select,textarea{font:inherit}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; margin-left: auto; margin-right: auto; padding-left: calc(var(--bs-gutter-x)*.5); padding-right: calc(var(--bs-gutter-x)*.5); width: 100%; }

@media (min-width: 576px) {
  .container, .container-sm { max-width: 540px; }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm { max-width: 45pc; }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm { max-width: 60pc; }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 855pt; }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 990pt; }
}

.fixed-top { top: 0px; }

.fixed-bottom, .fixed-top { left: 0px; position: fixed; right: 0px; z-index: 1030; }

.object-fit-contain { object-fit: contain !important; }

.opacity-25 { opacity: 0.25 !important; }

.overflow-hidden { overflow: hidden !important; }

.d-inline-block { display: inline-block !important; }

.d-grid { display: grid !important; }

.d-flex { display: flex !important; }

.d-none { display: none !important; }

.position-relative { position: relative !important; }

.position-absolute { position: absolute !important; }

.position-fixed { position: fixed !important; }

.top-0 { top: 0px !important; }

.start-0 { left: 0px !important; }

.end-0 { right: 0px !important; }

.border-bottom { border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important; }

.border-boing-neutral-gray-200, .border-boing-neutral-gray-200-active:active, .border-boing-neutral-gray-200-disabled:disabled, .border-boing-neutral-gray-200-focus:focus, .border-boing-neutral-gray-200-hover:hover { --bs-border-opacity: 1; border-color: rgb(217, 217, 217) !important; }

.w-25 { width: 25% !important; }

.w-100 { width: 100% !important; }

.h-100 { height: 100% !important; }

.flex-column, .flex-row { -webkit-box-direction: normal !important; }

.flex-column { -webkit-box-orient: vertical !important; flex-direction: column !important; }

.flex-wrap { flex-wrap: wrap !important; }

.justify-content-end { -webkit-box-pack: end !important; justify-content: flex-end !important; }

.justify-content-center { -webkit-box-pack: center !important; justify-content: center !important; }

.justify-content-between { -webkit-box-pack: justify !important; justify-content: space-between !important; }

.align-items-center { -webkit-box-align: center !important; align-items: center !important; }

.m-auto { margin: auto !important; }

.me-4 { margin-right: 0.75rem !important; }

.mb-15 { margin-bottom: 3.5rem !important; }

.px-4 { padding-left: 0.75rem !important; padding-right: 0.75rem !important; }

.px-5 { padding-left: 1rem !important; padding-right: 1rem !important; }

.px-6 { padding-left: 1.25rem !important; padding-right: 1.25rem !important; }

.px-10 { padding-left: 2.25rem !important; padding-right: 2.25rem !important; }

.py-2 { padding-bottom: 0.25rem !important; padding-top: 0.25rem !important; }

.py-3 { padding-bottom: 0.5rem !important; padding-top: 0.5rem !important; }

.py-5 { padding-bottom: 1rem !important; padding-top: 1rem !important; }

.py-6 { padding-bottom: 1.25rem !important; padding-top: 1.25rem !important; }

.pb-5 { padding-bottom: 1rem !important; }

.gap-3 { gap: 0.5rem !important; }

.gap-16 { gap: 3.75rem !important; }

.fw-medium { font-weight: 500 !important; }

.fw-semibold { font-weight: 600 !important; }

.text-center { text-align: center !important; }

.text-decoration-none { text-decoration: none !important; }

.text-white, .text-white-active:active, .text-white-disabled:disabled, .text-white-focus:focus, .text-white-hover:hover { --bs-text-opacity: 1; color: rgb(255, 255, 255) !important; }

.text-boing-primary, .text-boing-primary-active:active, .text-boing-primary-disabled:disabled, .text-boing-primary-focus:focus, .text-boing-primary-hover:hover { --bs-text-opacity: 1; color: rgb(170, 31, 48) !important; }

.bg-black, .bg-black-active:active, .bg-black-disabled:disabled, .bg-black-focus:focus, .bg-black-hover:hover { --bs-bg-opacity: 1; background-color: rgb(0, 0, 0) !important; }

.bg-white, .bg-white-active:active, .bg-white-disabled:disabled, .bg-white-focus:focus, .bg-white-hover:hover { --bs-bg-opacity: 1; background-color: rgb(255, 255, 255) !important; }

.bg-transparent, .bg-transparent-active:active, .bg-transparent-disabled:disabled, .bg-transparent-focus:focus, .bg-transparent-hover:hover { --bs-bg-opacity: 1; background-color: transparent !important; }

.bg-boing-neutral-gray-600, .bg-boing-neutral-gray-600-active:active, .bg-boing-neutral-gray-600-disabled:disabled, .bg-boing-neutral-gray-600-focus:focus, .bg-boing-neutral-gray-600-hover:hover { --bs-bg-opacity: 1; background-color: rgb(22, 22, 22) !important; }

.rounded-4 { border-radius: var(--bs-border-radius-xl) !important; }

@media (min-width: 768px) {
  .d-md-flex { display: flex !important; }
  .flex-md-row { -webkit-box-orient: horizontal !important; flex-direction: row !important; }
  .flex-md-column, .flex-md-row { -webkit-box-direction: normal !important; }
  .justify-content-md-between { -webkit-box-pack: justify !important; justify-content: space-between !important; }
  .align-items-md-start { -webkit-box-align: start !important; align-items: flex-start !important; }
}

.header { box-shadow: rgba(0, 0, 0, 0.07) 0.125rem 0.125rem 0.9375rem 0px; max-height: 3.5rem; }

.header__logo-img { display: inline-block; height: 3.125rem; }

.header__login-btn-wrapper { display: none; }

.header__login-btn { border: 0.0625rem solid rgb(170, 31, 48); cursor: pointer; font-size: 0.75rem; }

.footer-brand { padding-bottom: 6rem; padding-top: 11.0625rem; position: relative; }

@media (max-width: 440px) {
  .footer-brand { padding-top: 9rem; }
}

.footer-brand .footer-brand__primary { background-position: 50% center; background-repeat: no-repeat; background-size: cover; padding: 0px max(min(3.75rem, 16vw), 1rem) 1rem; }

.footer-brand .footer-brand__primary .container { padding: 0px; width: 100%; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content { gap: 2rem 7.5rem; -webkit-box-pack: start !important; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; flex-direction: column !important; justify-content: flex-start !important; }

@media (max-width: 767.98px) {
  .footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left { min-height: 55px; }
}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left .footer-brand__logo { height: 3.9375rem; min-width: 3.375rem; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__left .footer-brand__secondary--logo { max-height: 100%; min-width: 4.375rem; width: 4.375rem; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right { width: 100%; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar { grid-template-columns: repeat(2, 1fr); }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footerList { height: 50%; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footerList:not(:has(*)) { display: none; height: 0px; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list { gap: 2.25rem; height: 100%; list-style: none; -webkit-box-pack: justify !important; justify-content: space-between !important; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item { width: 100%; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item .footer-list__item--link { color: rgb(255, 255, 255); cursor: pointer; font-size: 0.75rem; font-weight: 600; line-height: 1.5; text-decoration: none; white-space: normal; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-list .footer-list__item .footer-list__item--link:hover { text-decoration: underline; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left { -webkit-box-align: start; align-items: flex-start; gap: 2.25rem; padding-right: 2rem; width: 100%; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; flex-direction: column !important; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left .footerList .footer-list__item { text-align: left; }

@media (min-width: 768px) {
  .footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--left .footerList:first-child .footer-list { padding-left: 0px; }
}

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--right { -webkit-box-align: start; align-items: flex-start; gap: 2.25rem; padding-left: 2rem; width: 100%; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; flex-direction: column !important; }

.footer-brand .footer-brand__primary .container .footer-brand__primary--content .footer-brand__right .footer-brand__navbar .footer-brand__navbar--right .footerList:last-child .footer-list { border: 0px; }

.footer-brand .footer-brand__secondary { padding: 1rem 1.5rem; }

.footer-brand .footer-brand__secondary .container { padding: 0px; width: 100%; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content { row-gap: 1.5rem; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--list { list-style: none; row-gap: 0.5rem; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item { padding: 0px 1.5rem; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item:first-child { padding-left: 0px; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item:last-child { border: 0px; padding-right: 0px; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item.foot_link:last-of-type { border: 0px; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item .footer-brand__left--link { color: rgb(255, 255, 255); display: inline-block; font-size: 1.25rem; line-height: 1.5; text-decoration: none; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--item .footer-brand__left--link:hover { text-decoration: underline; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--copyright { display: inline-block; font-size: 0.75rem; line-height: 1.5; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__left .footer-brand__left--copyright .footer-brand__left--text { color: rgb(255, 255, 255); }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .social_media--title { color: rgb(255, 255, 255); font-size: 1.5rem; font-weight: 700; line-height: 2rem; padding-bottom: 1.25rem; text-align: center; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list { -webkit-box-pack: center; gap: 1rem; justify-content: center; list-style: none; max-width: 100%; }

@media (max-width: 767.98px) {
  .footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list { min-height: 40px; }
}

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item { border-color: rgb(246, 187, 0); border-radius: 50%; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item .footer-brand__right--link { height: 2.6875rem; transition: transform 0.2s linear, -webkit-transform 0.2s linear; width: 2.6875rem; }

.footer-brand .footer-brand__secondary .container .footer-brand__secondary--content .footer-brand__right .footer-brand__right--list .footer-brand__right--item .footer-brand__right--link:hover { transform: scale(1.3334); }

.boing-container { --bs-gutter-x: 0; --bs-gutter-y: 0; margin-left: auto; margin-right: auto; max-width: 33.75rem; padding-left: calc(var(--bs-gutter-x)*.5); padding-right: calc(var(--bs-gutter-x)*.5); width: 100%; }

button, html, input, select, textarea { color: rgb(34, 34, 34); }

audio, canvas, img, video { vertical-align: middle; }

a:focus { outline: 0px; }

a { color: rgb(0, 0, 0); outline: 0px !important; }

@media print {
  a, a:visited { text-decoration: none; }
  a[href]::after { content: " (" attr(href) ")"; }
  img, tr { break-inside: avoid; }
  img { max-width: 100% !important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { break-after: avoid; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

button, html, input, select, textarea { font-family: sans-serif; }

a:focus { outline: dotted thin; }

a:active, a:hover { outline: 0px; }

dl, menu, ol, ul { margin: 1em 0px; }

menu, ol, ul { padding: 0px 0px 0px 40px; }

nav ol, nav ul { list-style: none none; }

img { border: 0px; }

button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { appearance: button; cursor: pointer; overflow: visible; }

a img { border: 0px; }

a, a:hover { text-decoration: none; }

li, ul { list-style: none; margin: 0px; padding: 0px; }

button, input, optgroup, select, textarea { font: inherit; }