.latestblogs-wrapper {
  border-radius: 2rem;
  margin: 0 0 -3.3125rem;
  padding-bottom: 4.375rem;
  padding-top: 4.0625rem;
  position: relative;
  width: 100%;
}
.latestblogs-wrapper::before {
  background-blend-mode: overlay;
  background-color: #aa1f30;
  background-image: url("clientlib-boing/resources/images/static/bg-image.png");
  background-position: 100% 115%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewY(-8.74deg);
  width: 100%;
  z-index: 1;
}
.latestblogs-wrapper .latestblogs-listing {
  padding-bottom: 1.5625rem;
  position: relative;
  z-index: 1;
}
.latestblogs-wrapper .latestblogs-listing--desc {
  padding-inline: 2rem;
}
.latestblogs-wrapper .latestblogs-listing_section--first {
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second {
  background-position: top;
  background-repeat: no-repeat;
  gap: 1rem;
  overflow-x: scroll;
  padding-inline: 1rem;
  scrollbar-width: none;
  display: flex;
}
.latestblogs-wrapper .latestblogs-listing_section--second::-webkit-scrollbar {
  display: none;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-listing--cardWrapper {
  text-decoration: none;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-listing--cards {
  background-color: #f6bb00;
  border-radius: 1.625rem;
  width: 14rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-listing--cards .latestblogs--text__body {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-listing--cardImageWrapper {
  height: 14rem;
  width: 14rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-listing--cardImageWrapper .latestblogs-listing--cardImage {
  border-top-left-radius: 1.625rem;
  border-top-right-radius: 1.625rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cards_content--wrapper {
  color: #030303;
  padding: 1rem 1rem 1.625rem;
}
.latestblogs-wrapper .latestblogs-listing--btn {
  -webkit-box-align: center;
  align-items: center;
  background-color: #f6bb00;
  border-radius: 1.375rem;
  color: #030303;
  display: flex;
  gap: 0.625rem;
  margin-inline: auto;
  padding: 0.75rem 1.375rem;
  text-align: center;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.latestblogs-wrapper .latestblogs-listing--btn .arrow-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.latestblogs-wrapper {
  position: relative;
  top: 2rem;
}
.latestblogs-listing--title {
  color: #aa1f30; /* Equivalent to rgb(170, 31, 48) */
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.latestblogs-listing--desc {
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
}
.latestblogs-published_date {
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 500;
  line-height: normal;
}
.latestblogs--text__body {
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
}
.latestblogs-listing--btn {
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 600;
  line-height: normal;
}