.header-headerseconds {
  width: 100%;
  padding: 0 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #FFFFFF;
  box-shadow: 0 2px 3px #ababab;
}
.header-headerseconds.header-sticky-head {
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 1030;
}
.header-head-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.header-logo {
  position: relative;
  z-index: 9;
  padding-top: 10px;
  margin: 8px 0px 0;
  width: 18%;
  float: left;
}
.header-logo-img {
  width: 70%;
  margin-top: 0px;
  max-width: 100%;
  vertical-align: top;
}
.header-cssmenu {
  font-family: 'DINPro-Regular';
  background: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.header-cssmenu ul {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.header-cssmenu:after,
.header-cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.header-head-mobile {
  display: none;
}
.header-pull-rights {
  float: right;
}
.header-list-item {
  float: left;
  margin-right: 1px;
}
.header-link {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.875rem; /* Equivalent to 14px assuming 16px base */
  letter-spacing: 1px;
  text-decoration: none;
  color: #474747;
  display: block;
  padding: 20px 20px;
  position: relative;
}
.header-list-item:hover .header-link,
.header-list-item.active .header-link {
  color: #fff;
}
.header-link:hover::after {
  background: url("../images/files/active-arow.png") no-repeat 0 0 !important;
  position: absolute !important;
  bottom: -18px !important;
  left: 50% !important;
  margin-left: -10px !important;
  content: "" !important;
  height: 20px !important;
  width: 20px !important;
  z-index: 99999 !important;
}
.header-list-item:hover,
.header-list-item.active:hover,
.header-list-item.active,
.header-has-sub.active:hover {
  background: #e41e2d !important;
  transition: background 0.3s ease;
}
.header-has-sub .header-link {
  padding-right: 30px;
}
.header-submenu {
  position: absolute;
  left: -9999px;
  height: 262px;
  overflow-y: scroll;
  background: #333;
  max-height: 307px;
  overflow: auto;
}
.header-list-item:hover > .header-submenu {
  left: auto;
}
.header-list-item:hover > .header-submenu > .header-submenu-item {
  height: auto;
}
.header-submenu-item {
  height: 0;
  background: #333;
  transition: all 0.25s ease;
}
.header-submenu-item:hover {
  background: #e41e2d !important;
}
.header-submenu-item .header-submenu-link {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 15px 20px;
  width: 220px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  font-size: 0.875rem; /* Equivalent to 14px assuming 16px base */
  height: auto;
}
.header-submenu-item:last-child > .header-submenu-link,
.header-submenu-item.last-item > .header-submenu-link {
  border-bottom: 0;
}
.header-submenu-item:hover > .header-submenu-link,
.header-submenu-item .header-submenu-link:hover {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .header-cssmenu {
    width: 100%;
  }
  .header-cssmenu ul {
    width: 100%;
    display: none;
  }
  .header-cssmenu ul .header-list-item {
    width: 100%;
    border-top: 1px solid #ccc;
  }
  .header-cssmenu ul .header-list-item:hover {
    background: #363636;
  }
  .header-cssmenu ul .header-submenu-item,
  .header-cssmenu .header-list-item:hover > ul > .header-submenu-item {
    height: auto;
  }
  .header-cssmenu ul .header-list-item .header-link,
  .header-cssmenu ul .header-submenu-item .header-submenu-link {
    width: 100%;
    border-bottom: 0;
    font-family: 'DINPro-Regular' !important;
  }
  .header-cssmenu > ul > .header-list-item {
    float: none;
  }
  .header-cssmenu ul .header-submenu-item .header-submenu-link {
    padding-left: 25px;
  }
  .header-cssmenu ul .header-submenu-item {
    background: #333 !important;
  }
  .header-cssmenu ul .header-submenu-item:hover {
    background: #363636 !important;
  }
  .header-cssmenu ul .header-submenu-item .header-submenu-link {
    color: #ddd;
    background: none;
  }
  .header-cssmenu ul .header-submenu-item:hover > .header-submenu-link,
  .header-cssmenu ul .header-submenu-item.active > .header-submenu-link {
    color: #fff;
  }
  .header-cssmenu ul .header-submenu,
  .header-cssmenu ul .header-submenu .header-submenu {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    max-height: 285px;
    overflow: scroll;
  }
  .header-cssmenu > ul > .header-has-sub > .header-link:after,
  .header-cssmenu > ul > .header-has-sub > .header-link:before,
  .header-cssmenu ul .header-submenu > .header-has-sub > .header-submenu-link:after,
  .header-cssmenu ul .header-submenu > .header-has-sub > .header-submenu-link:before {
    display: none;
  }
  .header-head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
    font-weight: 700;
  }
  .header-button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  .header-button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    content: "";
  }
  .header-button:before {
    transition: all 0.3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #999;
    content: "";
  }
  .header-button.menu-opened:after {
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #999;
    transform: rotate(45deg);
  }
  .header-button.menu-opened:before {
    top: 23px;
    background: #999;
    width: 19px;
    transform: rotate(-45deg);
  }
  .header-cssmenu .header-submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #ccc;
    height: 70px;
    line-height: 70px;
    width: 46px;
    cursor: pointer;
    font-family: 'DINPro-Regular' !important;
  }
  .header-cssmenu .header-submenu-button.submenu-opened {
    background: #262626;
  }
  .header-cssmenu ul ul .header-submenu-button {
    height: 34px;
    width: 34px;
  }
  .header-cssmenu .header-submenu-button:after {
    position: absolute;
    top: 35px;
    right: 16px;
    width: 14px;
    height: 2px;
    display: block;
    background: #999;
    content: "";
  }
  .header-cssmenu ul ul .header-submenu-button:after {
    top: 15px;
    right: 13px;
  }
  .header-cssmenu .header-submenu-button.submenu-opened:after {
    background: #fff;
  }
  .header-cssmenu .header-submenu-button:before {
    position: absolute;
    top: 29px;
    right: 22px;
    display: block;
    width: 2px;
    height: 14px;
    background: #999;
    content: "";
  }
  .header-cssmenu ul ul .header-submenu-button:before {
    top: 12px;
    right: 16px;
  }
  .header-cssmenu .header-submenu-button.submenu-opened:before {
    display: none;
  }
  .header-cssmenu ul ul ul .header-list-item.active .header-link {
    border-left: none;
  }
  .header-cssmenu > ul > .header-has-sub > ul > .header-list-item.active > .header-link,
  .header-cssmenu > ul .header-submenu > .header-has-sub > ul > .header-list-item.active > .header-link {
    border-top: none;
    font-family: 'DINPro-Regular' !important;
  }
}
@media (max-width: 767px) {
  .header-headerseconds .header-logo {
    margin: 0 0;
    width: 55%;
  }
  .header-headerseconds {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
