/* External stylesheet: https://letsboing.header-com/etc.header-clientlibs/itc-family-comedy/clientlibs/clientlib-dependencies-boing.header-lc-d41d8cd98f00b204e9800998ecf8427e-lc.header-min.header-css */


/* External stylesheet: https://letsboing.header-com/etc.header-clientlibs/itc-family-comedy/clientlibs/clientlib-boing.header-lc-30cb232c6b4382ac721d6ad8fde5ee6b-lc.header-min.header-css */
:root,
[data-bs-theme=light] {
  --bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-black:#000;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-gray-100:#f8f9fa;--bs-gray-200:#e9ecef;--bs-gray-300:#dee2e6;--bs-gray-400:#ced4da;--bs-gray-500:#adb5bd;--bs-gray-600:#6c757d;--bs-gray-700:#495057;--bs-gray-800:#343a40;--bs-gray-900:#212529;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-primary-rgb:13,110,253;--bs-secondary-rgb:108,117,125;--bs-success-rgb:25,135,84;--bs-info-rgb:13,202,240;--bs-warning-rgb:255,193,7;--bs-danger-rgb:220,53,69;--bs-light-rgb:248,249,250;--bs-dark-rgb:33,37,41;--bs-primary-text-emphasis:#052c65;--bs-secondary-text-emphasis:#2b2f32;--bs-success-text-emphasis:#0a3622;--bs-info-text-emphasis:#055160;--bs-warning-text-emphasis:#664d03;--bs-danger-text-emphasis:#58151c;--bs-light-text-emphasis:#495057;--bs-dark-text-emphasis:#495057;--bs-primary-bg-subtle:#cfe2ff;--bs-secondary-bg-subtle:#e2e3e5;--bs-success-bg-subtle:#d1e7dd;--bs-info-bg-subtle:#cff4fc;--bs-warning-bg-subtle:#fff3cd;--bs-danger-bg-subtle:#f8d7da;--bs-light-bg-subtle:#fcfcfd;--bs-dark-bg-subtle:#ced4da;--bs-primary-border-subtle:#9ec5fe;--bs-secondary-border-subtle:#c4c8cb;--bs-success-border-subtle:#a3cfbb;--bs-info-border-subtle:#9eeaf9;--bs-warning-border-subtle:#ffe69c;--bs-danger-border-subtle:#f1aeb5;--bs-light-border-subtle:#e9ecef;--bs-dark-border-subtle:#adb5bd;--bs-white-rgb:255,255,255;--bs-black-rgb:0,0,0;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg,hsla(0,0,100%,.15),hsla(0,0,100%,0));--bs-body-font-family:var(--bs-font-sans-serif);--bs-body-font-size:1rem;--bs-body-font-weight:400;--bs-body-line-height:1.5;--bs-body-color:#212529;--bs-body-color-rgb:33,37,41;--bs-body-bg:#fff;--bs-body-bg-rgb:255,255,255;--bs-emphasis-color:#000;--bs-emphasis-color-rgb:0,0,0;--bs-secondary-color:rgba(33,37,41,.75);--bs-secondary-color-rgb:33,37,41;--bs-secondary-bg:#e9ecef;--bs-secondary-bg-rgb:233,236,239;--bs-tertiary-color:rgba(33,37,41,.5);--bs-tertiary-color-rgb:33,37,41;--bs-tertiary-bg:#f8f9fa;--bs-tertiary-bg-rgb:248,249,250;--bs-heading-color:inherit;--bs-link-color:#0d6efd;--bs-link-color-rgb:13,110,253;--bs-link-decoration:underline;--bs-link-hover-color:#0a58ca;--bs-link-hover-color-rgb:10,88,202;--bs-code-color:#d63384;--bs-highlight-color:#212529;--bs-highlight-bg:#fff3cd;--bs-border-width:1px;--bs-border-style:solid;--bs-border-color:#dee2e6;--bs-border-color-translucent:rgba(0,0,0,.175);--bs-border-radius:.375rem;--bs-border-radius-sm:.25rem;--bs-border-radius-lg:.5rem;--bs-border-radius-xl:1rem;--bs-border-radius-xxl:2rem;--bs-border-radius-2xl:var(--bs-border-radius-xxl);--bs-border-radius-pill:50rem;--bs-box-shadow:0 .5rem 1rem rgba(0,0,0,.15);--bs-box-shadow-sm:0 .125rem .25rem rgba(0,0,0,.075);--bs-box-shadow-lg:0 1rem 3rem rgba(0,0,0,.175);--bs-box-shadow-inset:inset 0 1px 2px rgba(0,0,0,.075);--bs-focus-ring-width:.25rem;--bs-focus-ring-opacity:.25;--bs-focus-ring-color:rgba(13,110,253,.25);--bs-form-valid-color:#198754;--bs-form-valid-border-color:#198754;--bs-form-invalid-color:#dc3545;--bs-form-invalid-border-color:#dc3545
}

.header-container,
.header-container-fluid,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl,
.header-container-xxl {
  --bs-gutter-x:1.5rem;--bs-gutter-y:0;margin-left:auto;margin-right:auto;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%
}

.header-container,
.header-container-sm {
  max-width:540px
}

.header-container,
.header-container-md,
.header-container-sm {
  max-width:45pc
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm {
  max-width:60pc
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl {
  max-width:855pt
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl,
.header-container-xxl {
  max-width:990pt
}

:root {
  --bs-breakpoint-xs:0;--bs-breakpoint-sm:576px;--bs-breakpoint-md:768px;--bs-breakpoint-lg:992px;--bs-breakpoint-xl:1200px;--bs-breakpoint-xxl:1400px
}

.header-fixed-top {
  top:0
}

.header-fixed-bottom,
.header-fixed-top {
  left:0;position:fixed;right:0;z-index:1030
}

.header-object-fit-contain {
  -o-object-fit:contain !important;object-fit:contain !important
}

.header-opacity-25 {
  opacity:.25 !important
}

.header-overflow-hidden {
  overflow:hidden !important
}

.header-d-inline-block {
  display:inline-block !important
}

.header-d-grid {
  display:grid !important
}

.header-d-flex {
  display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important
}

.header-d-none {
  display:none !important
}

.header-position-relative {
  position:relative !important
}

.header-position-absolute {
  position:absolute !important
}

.header-position-fixed {
  position:fixed !important
}

.header-top-0 {
  top:0 !important
}

.header-start-0 {
  left:0 !important
}

.header-end-0 {
  right:0 !important
}

.header-border-bottom {
  border-bottom:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.header-border-boing-neutral-gray-200,
.header-border-boing-neutral-gray-200-active:active,
.header-border-boing-neutral-gray-200-disabled:disabled,
.header-border-boing-neutral-gray-200-focus:focus,
.header-border-boing-neutral-gray-200-hover:hover {
  --bs-border-opacity:1;border-color:#d9d9d9 !important
}

.header-w-25 {
  width:25% !important
}

.header-w-100 {
  width:100% !important
}

.header-h-100 {
  height:100% !important
}

.header-flex-column,
.header-flex-row {
  -webkit-box-direction:normal !important
}

.header-flex-column {
  -webkit-box-orient:vertical !important;-ms-flex-direction:column !important;flex-direction:column !important
}

.header-flex-wrap {
  -ms-flex-wrap:wrap !important;flex-wrap:wrap !important
}

.header-justify-content-end {
  -webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important
}

.header-justify-content-center {
  -webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important
}

.header-justify-content-between {
  -webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important
}

.header-align-items-center {
  -webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important
}

.header-m-auto {
  margin:auto !important
}

.header-me-4 {
  margin-right:.75rem !important
}

.header-mb-15 {
  margin-bottom:3.5rem !important
}

.header-px-4 {
  padding-left:.75rem !important;padding-right:.75rem !important
}

.header-px-5 {
  padding-left:1rem !important;padding-right:1rem !important
}

.header-px-6 {
  padding-left:1.25rem !important;padding-right:1.25rem !important
}

.header-px-10 {
  padding-left:2.25rem !important;padding-right:2.25rem !important
}

.header-py-2 {
  padding-bottom:.25rem !important;padding-top:.25rem !important
}

.header-py-3 {
  padding-bottom:.5rem !important;padding-top:.5rem !important
}

.header-py-5 {
  padding-bottom:1rem !important;padding-top:1rem !important
}

.header-py-6 {
  padding-bottom:1.25rem !important;padding-top:1.25rem !important
}

.header-pb-5 {
  padding-bottom:1rem !important
}

.header-gap-3 {
  gap:.5rem !important
}

.header-gap-16 {
  gap:3.75rem !important
}

.header-fw-medium {
  font-weight:500 !important
}

.header-fw-semibold {
  font-weight:600 !important
}

.header-text-center {
  text-align:center !important
}

.header-text-decoration-none {
  text-decoration:none !important
}

.header-text-white,
.header-text-white-active:active,
.header-text-white-disabled:disabled,
.header-text-white-focus:focus,
.header-text-white-hover:hover {
  --bs-text-opacity:1;color:#fff !important
}

.header-text-boing-primary,
.header-text-boing-primary-active:active,
.header-text-boing-primary-disabled:disabled,
.header-text-boing-primary-focus:focus,
.header-text-boing-primary-hover:hover {
  --bs-text-opacity:1;color:#aa1f30 !important
}

.header-bg-black,
.header-bg-black-active:active,
.header-bg-black-disabled:disabled,
.header-bg-black-focus:focus,
.header-bg-black-hover:hover {
  --bs-bg-opacity:1;background-color:#000 !important
}

.header-bg-white,
.header-bg-white-active:active,
.header-bg-white-disabled:disabled,
.header-bg-white-focus:focus,
.header-bg-white-hover:hover {
  --bs-bg-opacity:1;background-color:#fff !important
}

.header-bg-transparent,
.header-bg-transparent-active:active,
.header-bg-transparent-disabled:disabled,
.header-bg-transparent-focus:focus,
.header-bg-transparent-hover:hover {
  --bs-bg-opacity:1;background-color:transparent !important
}

.header-bg-boing-neutral-gray-600,
.header-bg-boing-neutral-gray-600-active:active,
.header-bg-boing-neutral-gray-600-disabled:disabled,
.header-bg-boing-neutral-gray-600-focus:focus,
.header-bg-boing-neutral-gray-600-hover:hover {
  --bs-bg-opacity:1;background-color:#161616 !important
}

.header-rounded-4 {
  border-radius:var(--bs-border-radius-xl) !important
}

.header-d-md-flex {
  display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important
}

.header-flex-md-row {
  -webkit-box-orient:horizontal !important;-ms-flex-direction:row !important;flex-direction:row !important
}

.header-flex-md-column,
.header-flex-md-row {
  -webkit-box-direction:normal !important
}

.header-justify-content-md-between {
  -webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important
}

.header-align-items-md-start {
  -webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important
}

:root {
  --swiper-theme-color:#007aff
}

button,
html,
input,
select,
textarea {
  color:#222
}

audio,
canvas,
img,
video {
  vertical-align:middle
}

a:focus {
  outline:0
}

a {
  color:#000;outline:0 !important
}

* {
  background:transparent !important;-webkit-box-shadow:none !important;box-shadow:none !important;color:#000 !important;text-shadow:none !important
}

a,
a:visited {
  text-decoration:none
}

img,
tr {
  page-break-inside:avoid
}

img {
  max-width:100% !important
}

h2,
h3,
p {
  orphans:3;widows:3
}

h2,
h3 {
  page-break-after:avoid
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display:block
}

html {
  -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:100%
}

button,
html,
input,
select,
textarea {
  font-family:sans-serif
}

a:focus {
  outline:thin dotted
}

a:active,
a:hover {
  outline:0
}

dl,
menu,
ol,
ul {
  margin:1em 0
}

menu,
ol,
ul {
  padding:0 0 0 40px
}

nav ol,
nav ul {
  list-style:none;list-style-image:none
}

img {
  -ms-interpolation-mode:bicubic;border:0
}

button,
input,
select,
textarea {
  font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle
}

button,
input {
  line-height:normal
}

button,
select {
  text-transform:none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance:button;cursor:pointer;overflow:visible
}

* {
  outline:0
}

a img {
  border:0
}

a,
a:hover {
  text-decoration:none
}

li,
ul {
  list-style:none;margin:0;padding:0
}

body {
  font-family:Poppins,sans-serif
}

* {
  -webkit-tap-highlight-color:rgba(0,0,0,0);border:0;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0
}

body,
html {
  background-color:#faebd7;font-family:Barlow;margin:0;padding:0 !important
}

button,
input,
optgroup,
select,
textarea {
  font:inherit
}

/* Stylesheet rules: https://letsboing.header-com/etc.header-clientlibs/itc-family-comedy/clientlibs/clientlib-dependencies-boing.header-lc-d41d8cd98f00b204e9800998ecf8427e-lc.header-min.header-css */

/* Stylesheet rules: https://letsboing.header-com/etc.header-clientlibs/itc-family-comedy/clientlibs/clientlib-boing.header-lc-30cb232c6b4382ac721d6ad8fde5ee6b-lc.header-min.header-css */
:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd; --bs-indigo: #6610f2; --bs-purple: #6f42c1; --bs-pink: #d63384; --bs-red: #dc3545; --bs-orange: #fd7e14; --bs-yellow: #ffc107; --bs-green: #198754; --bs-teal: #20c997; --bs-cyan: #0dcaf0; --bs-black: #000; --bs-white: #fff; --bs-gray: #6c757d; --bs-gray-dark: #343a40; --bs-gray-100: #f8f9fa; --bs-gray-200: #e9ecef; --bs-gray-300: #dee2e6; --bs-gray-400: #ced4da; --bs-gray-500: #adb5bd; --bs-gray-600: #6c757d; --bs-gray-700: #495057; --bs-gray-800: #343a40; --bs-gray-900: #212529; --bs-primary: #0d6efd; --bs-secondary: #6c757d; --bs-success: #198754; --bs-info: #0dcaf0; --bs-warning: #ffc107; --bs-danger: #dc3545; --bs-light: #f8f9fa; --bs-dark: #212529; --bs-primary-rgb: 13,110,253; --bs-secondary-rgb: 108,117,125; --bs-success-rgb: 25,135,84; --bs-info-rgb: 13,202,240; --bs-warning-rgb: 255,193,7; --bs-danger-rgb: 220,53,69; --bs-light-rgb: 248,249,250; --bs-dark-rgb: 33,37,41; --bs-primary-text-emphasis: #052c65; --bs-secondary-text-emphasis: #2b2f32; --bs-success-text-emphasis: #0a3622; --bs-info-text-emphasis: #055160; --bs-warning-text-emphasis: #664d03; --bs-danger-text-emphasis: #58151c; --bs-light-text-emphasis: #495057; --bs-dark-text-emphasis: #495057; --bs-primary-bg-subtle: #cfe2ff; --bs-secondary-bg-subtle: #e2e3e5; --bs-success-bg-subtle: #d1e7dd; --bs-info-bg-subtle: #cff4fc; --bs-warning-bg-subtle: #fff3cd; --bs-danger-bg-subtle: #f8d7da; --bs-light-bg-subtle: #fcfcfd; --bs-dark-bg-subtle: #ced4da; --bs-primary-border-subtle: #9ec5fe; --bs-secondary-border-subtle: #c4c8cb; --bs-success-border-subtle: #a3cfbb; --bs-info-border-subtle: #9eeaf9; --bs-warning-border-subtle: #ffe69c; --bs-danger-border-subtle: #f1aeb5; --bs-light-border-subtle: #e9ecef; --bs-dark-border-subtle: #adb5bd; --bs-white-rgb: 255,255,255; --bs-black-rgb: 0,0,0; --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --bs-gradient: linear-gradient(180deg,hsla(0,0,100%,.15),hsla(0,0,100%,0)); --bs-body-font-family: var(--bs-font-sans-serif); --bs-body-font-size: 1rem; --bs-body-font-weight: 400; --bs-body-line-height: 1.5; --bs-body-color: #212529; --bs-body-color-rgb: 33,37,41; --bs-body-bg: #fff; --bs-body-bg-rgb: 255,255,255; --bs-emphasis-color: #000; --bs-emphasis-color-rgb: 0,0,0; --bs-secondary-color: rgba(33,37,41,.75); --bs-secondary-color-rgb: 33,37,41; --bs-secondary-bg: #e9ecef; --bs-secondary-bg-rgb: 233,236,239; --bs-tertiary-color: rgba(33,37,41,.5); --bs-tertiary-color-rgb: 33,37,41; --bs-tertiary-bg: #f8f9fa; --bs-tertiary-bg-rgb: 248,249,250; --bs-heading-color: inherit; --bs-link-color: #0d6efd; --bs-link-color-rgb: 13,110,253; --bs-link-decoration: underline; --bs-link-hover-color: #0a58ca; --bs-link-hover-color-rgb: 10,88,202; --bs-code-color: #d63384; --bs-highlight-color: #212529; --bs-highlight-bg: #fff3cd; --bs-border-width: 1px; --bs-border-style: solid; --bs-border-color: #dee2e6; --bs-border-color-translucent: rgba(0,0,0,.175); --bs-border-radius: .375rem; --bs-border-radius-sm: .25rem; --bs-border-radius-lg: .5rem; --bs-border-radius-xl: 1rem; --bs-border-radius-xxl: 2rem; --bs-border-radius-2xl: var(--bs-border-radius-xxl); --bs-border-radius-pill: 50rem; --bs-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); --bs-box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075); --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175); --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075); --bs-focus-ring-width: .25rem; --bs-focus-ring-opacity: .25; --bs-focus-ring-color: rgba(13,110,253,.25); --bs-form-valid-color: #198754; --bs-form-valid-border-color: #198754; --bs-form-invalid-color: #dc3545; --bs-form-invalid-border-color: #dc3545;
}

.header-container,
.header-container-fluid,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl,
.header-container-xxl {
  --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; margin-left: auto; margin-right: auto; padding-left: calc(var(--bs-gutter-x)*.5); padding-right: calc(var(--bs-gutter-x)*.5); width: 100%;
}

.header-container,
.header-container-sm {
  max-width: 540px;
}

.header-container,
.header-container-md,
.header-container-sm {
  max-width: 45pc;
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm {
  max-width: 60pc;
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl {
  max-width: 855pt;
}

.header-container,
.header-container-lg,
.header-container-md,
.header-container-sm,
.header-container-xl,
.header-container-xxl {
  max-width: 990pt;
}

:root {
  --bs-breakpoint-xs: 0; --bs-breakpoint-sm: 576px; --bs-breakpoint-md: 768px; --bs-breakpoint-lg: 992px; --bs-breakpoint-xl: 1200px; --bs-breakpoint-xxl: 1400px;
}

.header-fixed-top {
  top: 0px;
}

.header-fixed-bottom,
.header-fixed-top {
  left: 0px; position: fixed; right: 0px; z-index: 1030;
}

.header-object-fit-contain {
  object-fit: contain !important;
}

.header-opacity-25 {
  opacity: 0.25 !important;
}

.header-overflow-hidden {
  overflow: hidden !important;
}

.header-d-inline-block {
  display: inline-block !important;
}

.header-d-grid {
  display: grid !important;
}

.header-d-flex {
  display: flex !important;
}

.header-d-none {
  display: none !important;
}

.header-position-relative {
  position: relative !important;
}

.header-position-absolute {
  position: absolute !important;
}

.header-position-fixed {
  position: fixed !important;
}

.header-top-0 {
  top: 0px !important;
}

.header-start-0 {
  left: 0px !important;
}

.header-end-0 {
  right: 0px !important;
}

.header-border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.header-border-boing-neutral-gray-200,
.header-border-boing-neutral-gray-200-active:active,
.header-border-boing-neutral-gray-200-disabled:disabled,
.header-border-boing-neutral-gray-200-focus:focus,
.header-border-boing-neutral-gray-200-hover:hover {
  --bs-border-opacity: 1; border-color: rgb(217, 217, 217) !important;
}

.header-w-25 {
  width: 25% !important;
}

.header-w-100 {
  width: 100% !important;
}

.header-h-100 {
  height: 100% !important;
}

.header-flex-column,
.header-flex-row {
  -webkit-box-direction: normal !important;
}

.header-flex-column {
  -webkit-box-orient: vertical !important; flex-direction: column !important;
}

.header-flex-wrap {
  flex-wrap: wrap !important;
}

.header-justify-content-end {
  -webkit-box-pack: end !important; justify-content: flex-end !important;
}

.header-justify-content-center {
  -webkit-box-pack: center !important; justify-content: center !important;
}

.header-justify-content-between {
  -webkit-box-pack: justify !important; justify-content: space-between !important;
}

.header-align-items-center {
  -webkit-box-align: center !important; align-items: center !important;
}

.header-m-auto {
  margin: auto !important;
}

.header-me-4 {
  margin-right: 0.75rem !important;
}

.header-mb-15 {
  margin-bottom: 3.5rem !important;
}

.header-px-4 {
  padding-left: 0.75rem !important; padding-right: 0.75rem !important;
}

.header-px-5 {
  padding-left: 1rem !important; padding-right: 1rem !important;
}

.header-px-6 {
  padding-left: 1.25rem !important; padding-right: 1.25rem !important;
}

.header-px-10 {
  padding-left: 2.25rem !important; padding-right: 2.25rem !important;
}

.header-py-2 {
  padding-bottom: 0.25rem !important; padding-top: 0.25rem !important;
}

.header-py-3 {
  padding-bottom: 0.5rem !important; padding-top: 0.5rem !important;
}

.header-py-5 {
  padding-bottom: 1rem !important; padding-top: 1rem !important;
}

.header-py-6 {
  padding-bottom: 1.25rem !important; padding-top: 1.25rem !important;
}

.header-pb-5 {
  padding-bottom: 1rem !important;
}

.header-gap-3 {
  gap: 0.5rem !important;
}

.header-gap-16 {
  gap: 3.75rem !important;
}

.header-fw-medium {
  font-weight: 500 !important;
}

.header-fw-semibold {
  font-weight: 600 !important;
}

.header-text-center {
  text-align: center !important;
}

.header-text-decoration-none {
  text-decoration: none !important;
}

.header-text-white,
.header-text-white-active:active,
.header-text-white-disabled:disabled,
.header-text-white-focus:focus,
.header-text-white-hover:hover {
  --bs-text-opacity: 1; color: rgb(255, 255, 255) !important;
}

.header-text-boing-primary,
.header-text-boing-primary-active:active,
.header-text-boing-primary-disabled:disabled,
.header-text-boing-primary-focus:focus,
.header-text-boing-primary-hover:hover {
  --bs-text-opacity: 1; color: rgb(170, 31, 48) !important;
}

.header-bg-black,
.header-bg-black-active:active,
.header-bg-black-disabled:disabled,
.header-bg-black-focus:focus,
.header-bg-black-hover:hover {
  --bs-bg-opacity: 1; background-color: rgb(0, 0, 0) !important;
}

.header-bg-white,
.header-bg-white-active:active,
.header-bg-white-disabled:disabled,
.header-bg-white-focus:focus,
.header-bg-white-hover:hover {
  --bs-bg-opacity: 1; background-color: rgb(255, 255, 255) !important;
}

.header-bg-transparent,
.header-bg-transparent-active:active,
.header-bg-transparent-disabled:disabled,
.header-bg-transparent-focus:focus,
.header-bg-transparent-hover:hover {
  --bs-bg-opacity: 1; background-color: transparent !important;
}

.header-bg-boing-neutral-gray-600,
.header-bg-boing-neutral-gray-600-active:active,
.header-bg-boing-neutral-gray-600-disabled:disabled,
.header-bg-boing-neutral-gray-600-focus:focus,
.header-bg-boing-neutral-gray-600-hover:hover {
  --bs-bg-opacity: 1; background-color: rgb(22, 22, 22) !important;
}

.header-rounded-4 {
  border-radius: var(--bs-border-radius-xl) !important;
}

.header-d-md-flex {
  display: flex !important;
}

.header-flex-md-row {
  -webkit-box-orient: horizontal !important; flex-direction: row !important;
}

.header-flex-md-column,
.header-flex-md-row {
  -webkit-box-direction: normal !important;
}

.header-justify-content-md-between {
  -webkit-box-pack: justify !important; justify-content: space-between !important;
}

.header-align-items-md-start {
  -webkit-box-align: start !important; align-items: flex-start !important;
}

:root {
  --swiper-theme-color: #007aff;
}

button,
html,
input,
select,
textarea {
  color: rgb(34, 34, 34);
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

a:focus {
  outline: 0px;
}

a {
  color: rgb(0, 0, 0); outline: 0px !important;
}

* {
  background: transparent !important; box-shadow: none !important; color: rgb(0, 0, 0) !important; text-shadow: none !important;
}

a,
a:visited {
  text-decoration: none;
}

a[href]::after {
  content: " (" attr(href) ")";
}

img,
tr {
  break-inside: avoid;
}

img {
  max-width: 100% !important;
}

h2,
h3,
p {
  orphans: 3; widows: 3;
}

h2,
h3 {
  break-after: avoid;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  text-size-adjust: 100%; font-size: 100%;
}

button,
html,
input,
select,
textarea {
  font-family: sans-serif;
}

a:focus {
  outline: dotted thin;
}

a:active,
a:hover {
  outline: 0px;
}

dl,
menu,
ol,
ul {
  margin: 1em 0px;
}

menu,
ol,
ul {
  padding: 0px 0px 0px 40px;
}

nav ol,
nav ul {
  list-style: none none;
}

img {
  border: 0px;
}

button,
input,
select,
textarea {
  font-size: 100%; margin: 0px; vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button; cursor: pointer; overflow: visible;
}

* {
  outline: 0px;
}

a img {
  border: 0px;
}

a,
a:hover {
  text-decoration: none;
}

li,
ul {
  list-style: none; margin: 0px; padding: 0px;
}

body {
  font-family: Poppins, sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 0px; box-sizing: border-box; margin: 0px; padding: 0px;
}

body,
html {
  background-color: rgb(250, 235, 215); font-family: Barlow; margin: 0px; padding: 0px !important;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

/* Inline style: span */
span {
  color: rgb(170,31,48);
}