.submenu-object-fit-contain{-o-object-fit:contain !important;object-fit:contain !important}

.submenu-opacity-25{opacity:.submenu-25 !important}

.submenu-overflow-hidden{overflow:hidden !important}

.submenu-position-absolute{position:absolute !important}

.submenu-position-fixed{position:fixed !important}

.submenu-top-0{top:0 !important}

.submenu-start-0{left:0 !important}

.submenu-end-0{right:0 !important}

.submenu-gap-3{gap:.submenu-5rem !important}

.submenu-gap-16{gap:3.submenu-75rem !important}

.submenu-fw-medium{font-weight:500 !important}

.header .submenu-container{bottom:-100vh;display:none;max-width:33.submenu-75rem;z-index:999}

.header .submenu-container.submenu-active{display:block}

.header .submenu-container .submenu-footer-brand__primary:before,.header .submenu-container .submenu-footer-brand__secondary:after{display:none !important}

.header .submenu-sidebar{-ms-overflow-style:none;height:100vh;max-height:100vh;scrollbar-width:none;top:3.submenu-5rem;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform .submenu-3s ease-in-out;transition:-webkit-transform .submenu-3s ease-in-out;transition:transform .submenu-3s ease-in-out;transition:transform .submenu-3s ease-in-out,-webkit-transform .submenu-3s ease-in-out;width:17.submenu-8125rem;z-index:999}

.header .submenu-sidebar .submenu-footer-brand .submenu-background-pattern{height:6rem !important}

.header .submenu-sidebar ::-webkit-scrollbar{display:none}

.header .submenu-sidebar.submenu-open{overflow:auto;-webkit-transform:translateX(0);transform:translateX(0)}

.header .submenu-sidebar__menu{list-style:none}

.header .submenu-sidebar__menu-icon{height:1.submenu-125rem;width:1.submenu-125rem}

.header .submenu-sidebar__menu-link{color:#030303}

.header .submenu-sidebar__menu-link.submenu-menu-item__text{font-size:1.submenu-25rem}

.header .submenu-sidebar__menu-item--logout{display:none}

.header .submenu-sidebar__curve{background-color:#fff;border-radius:0 0 2rem 2rem;bottom:-3rem;height:4.submenu-5rem;overflow:hidden;position:relative;right:0;-webkit-transform:skewY(-10deg);transform:skewY(-8.submenu-34deg);z-index:10}

.header .submenu-overlay{display:none;z-index:998}

.header .submenu-overlay.submenu-active{display:block}

.submenu-footer-brand{padding-bottom:6rem;padding-top:11.submenu-0625rem;position:relative}

.submenu-lets-doodle .submenu-footer-brand{padding-bottom:0}

@media(max-width:440px){
  .submenu-footer-brand{padding-top:9rem}
}

.submenu-footer-brand .submenu-background-pattern{height:8.submenu-25rem;margin-top:-2px !important;position:absolute;top:0}

@media(min-width:440px){
  .submenu-footer-brand .submenu-background-pattern{height:11rem !important}
}

.submenu-footer-brand .submenu-footer-brand__primary{background-position:50%;background-repeat:no-repeat;background-size:cover;padding:0 max(min(3.submenu-75rem,16vw),1rem) 1rem}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary{padding:0 max(min(3.submenu-75rem,16vw),1rem)}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary:before{background-image:url(clientlib-boing/resources/images/static/doodle-footer-bottom.svg);background-position:50%;background-repeat:no-repeat;background-size:contain;content:"";display:inline-block;height:8.submenu-4375rem;position:absolute;right:0;top:0;vertical-align:middle;width:6.submenu-0625rem}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container{padding:0;width:100%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content{-webkit-box-pack:start !important;-ms-flex-pack:start !important;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-webkit-column-gap:7.submenu-5rem;-moz-column-gap:7.submenu-5rem;column-gap:7.submenu-5rem;-ms-flex-direction:column !important;flex-direction:column !important;justify-content:flex-start !important;row-gap:2rem}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content{row-gap:1.submenu-75rem}

@media(max-width:767.98px){
  .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__left{min-height:55px}
}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__left .submenu-footer-brand__logo{height:3.submenu-9375rem;min-width:3.submenu-375rem}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__left .submenu-footer-brand__secondary--logo{max-height:100%;min-width:4.submenu-375rem;width:4.submenu-375rem}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right{width:100%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar{grid-template-columns:repeat(2,1fr)}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-edit-mode{min-width:6.submenu-25rem !important}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footerList{height:50%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footerList:not(:has(*)){display:none;height:0}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;gap:2.submenu-25rem;height:100%;justify-content:space-between !important;list-style:none}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list .submenu-footer-list__item{width:100%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list .submenu-footer-list__item .submenu-footer-list__item--link{color:#fff;cursor:pointer;font-size:.submenu-75rem;font-weight:600;line-height:1.submenu-5;text-decoration:none;white-space:wrap}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list .submenu-footer-list__item .submenu-footer-list__item--link .submenu-cmp-link__screen-reader-only{display:none}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list .submenu-footer-list__item .submenu-footer-list__item--link:hover{text-decoration:underline}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-list .submenu-footer-list__item .submenu-footer-list__item--link{color:#000}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--left{-webkit-box-align:start;-ms-flex-align:start;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;align-items:flex-start;border-right:1px solid hsla(0,0,85%,.submenu-302);-ms-flex-direction:column !important;flex-direction:column !important;gap:2.submenu-25rem;padding-right:2rem;width:100%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--left .submenu-footerList .submenu-footer-list__item{text-align:left}

@media(min-width:768px){
  .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--left .submenu-footerList:first-child .submenu-footer-list{padding-left:0}
}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--left{-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-right:0;padding-right:0}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--right{-webkit-box-align:start;-ms-flex-align:start;-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;align-items:flex-start;-ms-flex-direction:column !important;flex-direction:column !important;gap:2.submenu-25rem;padding-left:2rem;width:100%}

.submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--right .submenu-footerList:last-child .submenu-footer-list{border:0}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__primary .submenu-container .submenu-footer-brand__primary--content .submenu-footer-brand__right .submenu-footer-brand__navbar .submenu-footer-brand__navbar--right{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

.submenu-footer-brand .submenu-footer-brand__secondary{padding:1rem 1.submenu-5rem}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary{padding:1.submenu-75rem 1.submenu-5rem .submenu-75rem}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary:after{background-image:url(clientlib-boing/resources/images/static/doodle-footer-top.svg);background-position:50%;background-repeat:no-repeat;background-size:contain;bottom:75pt;content:"";display:inline-block;height:6.submenu-0625rem;left:0;position:absolute;vertical-align:middle;width:5.submenu-3125rem}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container{padding:0;width:100%}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content{row-gap:1.submenu-5rem}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content{row-gap:0}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left{padding-bottom:0 !important;padding-top:.submenu-75rem !important}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--list{list-style:none;row-gap:.submenu-5rem}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item{border-right:.submenu-125rem solid hsla(0,0,100%,.submenu-302);padding:0 1.submenu-5rem}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item:first-child{padding-left:0}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item:last-child{border:0;padding-right:0}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item.submenu-foot_link:last-of-type{border:0}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item .submenu-footer-brand__left--link{color:#fff;display:inline-block;font-size:1.submenu-25rem;line-height:1.submenu-5;text-decoration:none}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item .submenu-footer-brand__left--link .submenu-cmp-link__screen-reader-only{display:none}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item .submenu-footer-brand__left--link:hover{text-decoration:underline}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item .submenu-footer-brand__left--link{color:#000}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--item .submenu-footer-brand__left--text{color:#fff;display:inline-block;font-size:.submenu-75rem;line-height:1.submenu-5;text-decoration:none}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--copyright{display:inline-block;font-size:.submenu-75rem;line-height:1.submenu-5}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--copyright .submenu-footer-brand__left--text{color:#fff}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__left .submenu-footer-brand__left--copyright .submenu-footer-brand__left--text{color:#000 !important}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-social_media--title{color:#fff;font-size:1.submenu-5rem;font-weight:700;line-height:2rem;padding-bottom:1.submenu-25rem;text-align:center}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-social_media--title{color:#000}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list{-webkit-box-pack:center;-ms-flex-pack:center;gap:1rem;justify-content:center;list-style:none;max-width:100%}

@media(max-width:767.98px){
  .submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list{min-height:40px}
}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list .submenu-footer-brand__right--item{border-color:#f6bb00;border-radius:50%}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list .submenu-footer-brand__right--item .submenu-footer-brand__right--link{height:2.submenu-6875rem;-webkit-transition:-webkit-transform .submenu-2s linear;transition:-webkit-transform .submenu-2s linear;transition:transform .submenu-2s linear;transition:transform .submenu-2s linear,-webkit-transform .submenu-2s linear;width:2.submenu-6875rem}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list .submenu-footer-brand__right--item .submenu-footer-brand__right--link .submenu-cmp-link__screen-reader-only{display:none}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list .submenu-footer-brand__right--item .submenu-footer-brand__right--link:hover{-webkit-transform:scale(1.submenu-3334);transform:scale(1.submenu-3334)}

.submenu-footer-brand .submenu-footer-brand__secondary .submenu-container .submenu-footer-brand__secondary--content .submenu-footer-brand__right .submenu-footer-brand__right--list .submenu-footer-brand__right--item .submenu-footer-brand__right--link .submenu-social_media--links{height:55%;width:55%}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__cta{-webkit-box-pack:end;-ms-flex-pack:end;display:-webkit-box;display:-ms-flexbox;display:flex;justify-content:end;width:100%}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__cta--btn{-webkit-box-align:center;-ms-flex-align:center;-webkit-box-pack:center;-ms-flex-pack:center;align-items:center;background-image:url(clientlib-boing/resources/images/static/doodle-cta-bg.svg);bottom:0;color:#f6bb00;display:-webkit-box;display:-ms-flexbox;display:flex;font-size:.submenu-75rem;font-weight:600;gap:.submenu-25rem;height:2.submenu-1875rem;justify-content:center;line-height:1rem;margin-right:13.submenu-8px;position:fixed;text-decoration:none;width:11.submenu-25rem;z-index:11}

.submenu-lets-doodle .submenu-footer-brand{padding-bottom:2.submenu-125rem;padding-top:10rem !important}

@media(max-width:440px){
  .submenu-lets-doodle .submenu-footer-brand{padding-top:7.submenu-5rem !important}
}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__left--item{border-right:.submenu-125rem solid #000 !important}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__left--item:last-child{border:none !important;padding-right:0}

.submenu-lets-doodle .submenu-footer-brand .submenu-footer-brand__secondary .submenu-footer-brand__right--list{gap:1.submenu-5rem !important}

.submenu-lets-doodle .header .submenu-sidebar__curve{display:none !important}

.submenu-lets-doodle .header .submenu-footer-brand{background-color:transparent !important;padding-top:1rem !important}

.submenu-lets-doodle .header .submenu-footer-brand .submenu-footer-brand__primary{padding:0 2.submenu-5rem !important}

.submenu-lets-doodle .header .submenu-footer-brand .submenu-footer-brand__secondary{padding:1.submenu-75rem 1.submenu-5rem 2.submenu-75rem !important}

.submenu-lets-doodle .header .submenu-footer-brand .submenu-footer-brand__secondary .submenu-footer-brand__right--list{gap:1rem !important}

.submenu-hide-footer__cta .submenu-footer-brand__cta,.submenu-lets-doodle .header .submenu-footer-brand .submenu-footer-brand__cta{display:none !important}

/* Inline style: a.submenu-header__login-btn-wrapper.submenu-analytics_cta_click */
a.submenu-header__login-btn-wrapper.submenu-analytics_cta_click { display: inline; }

/* Inline style: li.submenu-sidebar__menu-item.submenu-sidebar__menu-item--logout.submenu-py-6.submenu-border-bottom.submenu-border-boing-neutral-gray-200 */
li.submenu-sidebar__menu-item.submenu-sidebar__menu-item--logout.submenu-py-6.submenu-border-bottom.submenu-border-boing-neutral-gray-200 { display: none; }

/* Inline style: section.submenu-footer-brand__primary */
section.submenu-footer-brand__primary { background-color: ; }

/* Inline style: section.submenu-footer-brand__secondary */
section.submenu-footer-brand__secondary { background-color: ; }

/* Inline style: section.submenu-footer-brand__primary */
section.submenu-footer-brand__primary { background-color: ; }

/* Inline style: section.submenu-footer-brand__secondary */
section.submenu-footer-brand__secondary { background-color: ; }