.why-savlon-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.why-savlon-container .why-savlon-figure {
  width: 50%;
  height: 41.25rem; /* Equivalent to 660px assuming 16px base */
  overflow: hidden;
  vertical-align: top;
  padding: 0;
  margin: 0;
  float: left;
}
.why-savlon-container .why-savlon-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.why-savlon-container .why-savlon-text-box {
  width: 50%;
  height: 41.25rem; /* Equivalent to 660px assuming 16px base */
  overflow: hidden;
  position: relative;
  padding: 8% 0;
  float: left;
  text-align: center;
  background: radial-gradient(ellipse at center, rgb(248, 103, 19) 0%, rgb(248, 103, 19) 20%, rgb(215, 80, 8) 59%, rgb(215, 80, 8) 100%);
}
.why-savlon-container .why-savlon-text-box .why-savlon-white {
  font-family: 'DINPro-Medium';
  color: #fff;
  font-size: 1.5625rem; /* Equivalent to 25px assuming 16px base */
  letter-spacing: 0.3125rem; /* Equivalent to 5px assuming 16px base */
  text-transform: uppercase;
  position: relative;
  padding: 0.625rem 0.625rem 0.9375rem; /* Equivalent to 10px 10px 15px assuming 16px base */
  text-align: center;
  display: block;
  margin: 0 0 1.25rem; /* Equivalent to 20px assuming 16px base */
  font-weight: normal;
}
.why-savlon-container .why-savlon-text-box .why-savlon-white::after {
  background: url(../images/files/blue-border.jpg) no-repeat 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 6.25rem; /* Equivalent to 100px assuming 16px base */
  height: 0.125rem; /* Equivalent to 2px assuming 16px base */
  content: "";
  margin-left: -1.5625rem; /* Equivalent to -25px assuming 16px base */
}
.why-savlon-container .why-savlon-text-box p {
  font-family: 'DINPro-Regular';
  font-size: 1.125rem; /* Equivalent to 18px assuming 16px base */
  color: #fff;
  line-height: 1.75rem; /* Equivalent to 28px assuming 16px base */
  margin: 0.9375rem auto; /* Equivalent to 15px assuming 16px base */
  max-width: 28.875rem; /* Equivalent to 462px assuming 16px base */
}
.why-savlon-container .why-savlon-dis {
  font-size: 0.625rem; /* Equivalent to 10px assuming 16px base */
  line-height: 0.8125rem; /* Equivalent to 13px assuming 16px base */
  color: #fff;
  text-align: left;
  margin-top: 3.125rem; /* Equivalent to 50px assuming 16px base */
  float: left;
}
@media (max-width: 767px) {
  .why-savlon-container .why-savlon-text-box {
    padding: 13% 0;
  }
  .why-savlon-container .why-savlon-figure,
  .why-savlon-container .why-savlon-text-box {
    width: 100%;
    height: auto;
  }
  .why-savlon-container .why-savlon-text-box p {
    width: 81%;
    font-size: 0.9375rem; /* Equivalent to 15px assuming 16px base */
    line-height: 1.375rem; /* Equivalent to 22px assuming 16px base */
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .why-savlon-container .why-savlon-text-box {
    padding: 6% 0;
    height: 23.75rem; /* Equivalent to 380px assuming 16px base */
  }
  .why-savlon-container .why-savlon-figure {
    height: 23.75rem; /* Equivalent to 380px assuming 16px base */
  }
  .why-savlon-container .why-savlon-text-box p {
    width: 85%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  .why-savlon-container .why-savlon-text-box {
    padding-top: 12%;
  }
}
@media only screen and (max-width: 1440px) {
  .why-savlon-container .why-savlon-figure {
    height: 32.5rem; /* Equivalent to 520px assuming 16px base */
  }
  .why-savlon-container .why-savlon-text-box {
    height: 32.5rem; /* Equivalent to 520px assuming 16px base */
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .why-savlon-container .why-savlon-figure {
    height: 15.9375rem; /* Equivalent to 255px assuming 16px base */
  }
}
