.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.position-relative{position:relative !important}

.position-fixed{position:fixed !important}

.bottom-0{bottom:0 !important}

.flex-column,.flex-row{-webkit-box-direction:normal !important}

.flex-column{-webkit-box-orient:vertical !important;-ms-flex-direction:column !important;flex-direction:column !important}

.flex-grow-1{-webkit-box-flex:1 !important;-ms-flex-positive:1 !important;flex-grow:1 !important}

.justify-content-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}

.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}

.p-3{padding:.5rem !important}

.gap-1{gap:.125rem !important}

.bg-boing-primary,.bg-boing-primary-active:active,.bg-boing-primary-disabled:disabled,.bg-boing-primary-focus:focus,.bg-boing-primary-hover:hover{--bs-bg-opacity:1;background-color:#aa1f30 !important}

.boing-container{--bs-gutter-x:0;--bs-gutter-y:0;margin-left:auto;margin-right:auto;max-width:33.75rem;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%}

.trans-pop-up{--bs-gutter-x:0;--bs-gutter-y:0;background:#000;display:none;height:100vh;margin-left:auto;margin-right:auto;max-width:33.75rem;opacity:.8;position:fixed;top:0;width:100%;z-index:9999}

.sticky-bottom-nav{border-radius:1rem 1rem 0 0;-webkit-box-shadow:.125rem -.25rem 1rem 0 rgba(0,0,0,.431);box-shadow:.125rem -.25rem 1rem 0 rgba(0,0,0,.431);height:4.375rem;padding:.625rem 0;z-index:997}

.sticky-bottom-nav__list{list-style:none}

.sticky-bottom-nav__item{-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:center}

.sticky-bottom-nav__link{color:#fff;display:block;text-decoration:none;-webkit-transition:color .3s ease;transition:color .3s ease}

.sticky-bottom-nav__icon{display:block;height:1.125rem;-webkit-transition:-webkit-filter .3s ease;transition:-webkit-filter .3s ease;transition:filter .3s ease;transition:filter .3s ease,-webkit-filter .3s ease;width:1.125rem}

.sticky-bottom-nav__label{color:#fff;display:block;font-size:.75rem;font-weight:400;line-height:.9rem}

audio,canvas,img,video{vertical-align:middle}

a:focus{outline:0}

a{color:#000;outline:0 !important}

@media print{
  a,a:visited{text-decoration:none}
  a[href]:after{content:" (" attr(href) ")"}
  img,tr{page-break-inside:avoid}
  img{max-width:100% !important}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

a:focus{outline:thin dotted}

a:active,a:hover{outline:0}

dl,menu,ol,ul{margin:1em 0}

menu,ol,ul{padding:0 0 0 40px}

img{-ms-interpolation-mode:bicubic;border:0}

a img{border:0}

a,a:hover{text-decoration:none}

li,ul{list-style:none;margin:0;padding:0}

.d-flex { display: flex !important; }

.position-relative { position: relative !important; }

.position-fixed { position: fixed !important; }

.bottom-0 { bottom: 0px !important; }

.flex-column, .flex-row { -webkit-box-direction: normal !important; }

.flex-column { -webkit-box-orient: vertical !important; flex-direction: column !important; }

.flex-grow-1 { -webkit-box-flex: 1 !important; flex-grow: 1 !important; }

.justify-content-around { justify-content: space-around !important; }

.align-items-center { -webkit-box-align: center !important; align-items: center !important; }

.p-3 { padding: 0.5rem !important; }

.gap-1 { gap: 0.125rem !important; }

.bg-boing-primary, .bg-boing-primary-active:active, .bg-boing-primary-disabled:disabled, .bg-boing-primary-focus:focus, .bg-boing-primary-hover:hover { --bs-bg-opacity: 1; background-color: rgb(170, 31, 48) !important; }

.boing-container { --bs-gutter-x: 0; --bs-gutter-y: 0; margin-left: auto; margin-right: auto; max-width: 33.75rem; padding-left: calc(var(--bs-gutter-x)*.5); padding-right: calc(var(--bs-gutter-x)*.5); width: 100%; }

.trans-pop-up { --bs-gutter-x: 0; --bs-gutter-y: 0; background: rgb(0, 0, 0); display: none; height: 100vh; margin-left: auto; margin-right: auto; max-width: 33.75rem; opacity: 0.8; position: fixed; top: 0px; width: 100%; z-index: 9999; }

.sticky-bottom-nav { border-radius: 1rem 1rem 0px 0px; box-shadow: rgba(0, 0, 0, 0.43) 0.125rem -0.25rem 1rem 0px; height: 4.375rem; padding: 0.625rem 0px; z-index: 997; }

.sticky-bottom-nav__list { list-style: none; }

.sticky-bottom-nav__item { -webkit-box-flex: 1; flex: 1 1 0%; text-align: center; }

.sticky-bottom-nav__link { color: rgb(255, 255, 255); display: block; text-decoration: none; transition: color 0.3s; }

.sticky-bottom-nav__icon { display: block; height: 1.125rem; transition: filter 0.3s, -webkit-filter 0.3s; width: 1.125rem; }

.sticky-bottom-nav__label { color: rgb(255, 255, 255); display: block; font-size: 0.75rem; font-weight: 400; line-height: 0.9rem; }

audio, canvas, img, video { vertical-align: middle; }

a:focus { outline: 0px; }

a { color: rgb(0, 0, 0); outline: 0px !important; }

@media print {
  a, a:visited { text-decoration: none; }
  a[href]::after { content: " (" attr(href) ")"; }
  img, tr { break-inside: avoid; }
  img { max-width: 100% !important; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a:focus { outline: dotted thin; }

a:active, a:hover { outline: 0px; }

dl, menu, ol, ul { margin: 1em 0px; }

menu, ol, ul { padding: 0px 0px 0px 40px; }

img { border: 0px; }

a img { border: 0px; }

a, a:hover { text-decoration: none; }

li, ul { list-style: none; margin: 0px; padding: 0px; }