.stickynavigation-position-relative{position:relative !important}

.stickynavigation-position-fixed{position:fixed !important}

.stickynavigation-bottom-0{bottom:0 !important}

.stickynavigation-gap-1{gap:.stickynavigation-125rem !important}

.stickynavigation-boing-container{--bs-gutter-x:0;--bs-gutter-y:0;margin-left:auto;margin-right:auto;max-width:33.stickynavigation-75rem;padding-left:calc(var(--bs-gutter-x)*.stickynavigation-5);padding-right:calc(var(--bs-gutter-x)*.stickynavigation-5);width:100%}