.carousel-z-0 {  z-index:0 !important  }

.carousel-swiper-horizontal {  -ms-touch-action:pan-y;touch-action:pan-y  }

.carousel-swiper-horizontal>.carousel-swiper-pagination-bullets, .carousel-swiper-pagination-bullets.carousel-swiper-pagination-horizontal {  bottom:var(--swiper-pagination-bottom,8px);left:0;top:var(--swiper-pagination-top,auto);width:100%  }

.carousel-swiper-pagination-bullet {  background:var(--swiper-pagination-bullet-inactive-color,#000);border-radius:var(--swiper-pagination-bullet-border-radius,50%);display:inline-block;height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));opacity:var(--swiper-pagination-bullet-inactive-opacity,.2);width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px))  }

.carousel-swiper-pagination-clickable .carousel-swiper-pagination-bullet {  cursor:pointer  }

.carousel-swiper-pagination-bullet:only-child {  display:none !important  }

.carousel-swiper-pagination-bullet-active {  background:var(--swiper-pagination-color,var(--swiper-theme-color));opacity:var(--swiper-pagination-bullet-opacity,1)  }

.carousel-swiper-horizontal>.carousel-swiper-pagination-bullets .carousel-swiper-pagination-bullet, .carousel-swiper-pagination-horizontal.carousel-swiper-pagination-bullets .carousel-swiper-pagination-bullet {  margin:0 var(--swiper-pagination-bullet-horizontal-gap,4px)  }

.carousel-z-0 {   z-index: 0 !important;   }

.carousel-swiper-horizontal {   touch-action: pan-y;   }

.carousel-swiper-horizontal > .carousel-swiper-pagination-bullets, .carousel-swiper-pagination-bullets.carousel-swiper-pagination-horizontal {   bottom: var(--swiper-pagination-bottom,8px); left: 0px; top: var(--swiper-pagination-top,auto); width: 100%;   }

.carousel-swiper-pagination-bullet {   background: var(--swiper-pagination-bullet-inactive-color,#000); border-radius: var(--swiper-pagination-bullet-border-radius,50%); display: inline-block; height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px)); opacity: var(--swiper-pagination-bullet-inactive-opacity,.2); width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));   }

.carousel-swiper-pagination-clickable .carousel-swiper-pagination-bullet {   cursor: pointer;   }

.carousel-swiper-pagination-bullet:only-child {   display: none !important;   }

.carousel-swiper-pagination-bullet-active {   background: var(--swiper-pagination-color,var(--swiper-theme-color)); opacity: var(--swiper-pagination-bullet-opacity,1);   }

.carousel-swiper-horizontal > .carousel-swiper-pagination-bullets .carousel-swiper-pagination-bullet, .carousel-swiper-pagination-horizontal.carousel-swiper-pagination-bullets .carousel-swiper-pagination-bullet {   margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);   }

/* .carousel-Computed .carousel-styles: .carousel-span.carousel-swiper-pagination-bullet */ @media (min-width: 1200px) {  
  span.swiper-pagination-bullet {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(65, 65, 65);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 5.15625px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-collapse: separate;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;
    border-top-color: rgb(34, 34, 34);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 5.15625px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 5.15625px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    margin-inline-end: 4px;
    margin-inline-start: 4px;
    margin-left: 4px;
    margin-right: 4px;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 2.57812px 2.57812px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: center;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 2.57812px 2.57812px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 5.15625px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .carousel-Computed .carousel-styles: .carousel-span.carousel-swiper-pagination-bullet .carousel-swiper-pagination-bullet-active */ @media (min-width: 1200px) {  
  span.swiper-pagination-bullet swiper-pagination-bullet-active {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(170, 31, 48);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 4.6875px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-collapse: separate;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;
    border-top-color: rgb(34, 34, 34);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 4.6875px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 4.6875px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    margin-inline-end: 4px;
    margin-inline-start: 4px;
    margin-left: 4px;
    margin-right: 4px;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 2.34375px 2.34375px;
    position: relative;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: center;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 2.34375px 2.34375px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 4.6875px;
    writing-mode: horizontal-tb;
    z-index: 2;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }