.cmp-carousel__action{-webkit-appearance:none;-moz-appearance:none;appearance:none}

.object-fit-cover{-o-object-fit:cover !important;object-fit:cover !important}

.d-block{display:block !important}

.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.d-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}

.d-none{display:none !important}

.position-relative{position:relative !important}

.position-absolute{position:absolute !important}

.top-0{top:0 !important}

.top-50{top:50% !important}

.start-0{left:0 !important}

.start-50{left:50% !important}

.translate-middle-x{-webkit-transform:translateX(-50%) !important;transform:translateX(-50%) !important}

.w-75{width:75% !important}

.w-100{width:100% !important}

.h-100{height:100% !important}

.justify-content-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}

.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}

.mt-6{margin-top:1.25rem !important}

.mb-10{margin-bottom:2.25rem !important}

.p-5{padding:1rem !important}

.text-center{text-align:center !important}

.bg-transparent,.bg-transparent-active:active,.bg-transparent-disabled:disabled,.bg-transparent-focus:focus,.bg-transparent-hover:hover{--bs-bg-opacity:1;background-color:transparent !important}

.rounded-pill{border-radius:var(--bs-border-radius-pill) !important}

.z-0{z-index:0 !important}

.z-2{z-index:2 !important}

@media(min-width:576px){
  .d-sm-block{display:block !important}
}

@media(min-width:768px){
  .mb-md-8{margin-bottom:1.75rem !important}
}

.swiper{display:block;list-style:none;margin-left:auto;margin-right:auto;overflow:hidden;padding:0;position:relative;z-index:1}

.swiper-wrapper{-webkit-box-sizing:content-box;box-sizing:content-box;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-timing-function:var(--swiper-wrapper-transition-timing-function,initial);transition-timing-function:var(--swiper-wrapper-transition-timing-function,initial);width:100%;z-index:1}

.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper{-webkit-transform:translateZ(0);transform:translateZ(0)}

.swiper-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}

.swiper-slide{-ms-flex-negative:0;display:block;flex-shrink:0;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;width:100%}

.swiper-backface-hidden .swiper-slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader{-webkit-animation:swiper-preloader-spin 1s linear infinite;animation:swiper-preloader-spin 1s linear infinite}

.swiper-pagination{position:absolute;text-align:center;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition:opacity .3s;transition:opacity .3s;z-index:10}

.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:var(--swiper-pagination-bottom,8px);left:0;top:var(--swiper-pagination-top,auto);width:100%}

.swiper-pagination-bullet{background:var(--swiper-pagination-bullet-inactive-color,#000);border-radius:var(--swiper-pagination-bullet-border-radius,50%);display:inline-block;height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));opacity:var(--swiper-pagination-bullet-inactive-opacity,.2);width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px))}

.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}

.swiper-pagination-bullet:only-child{display:none !important}

.swiper-pagination-bullet-active{background:var(--swiper-pagination-color,var(--swiper-theme-color));opacity:var(--swiper-pagination-bullet-opacity,1)}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 var(--swiper-pagination-bullet-horizontal-gap,4px)}

.boing--text__title-3,.primary-btn,.secondary-btn,.tertiary-btn{font-family:Barlow;font-size:1rem;font-weight:600;line-height:normal}

input:checked~.boing-input__checkbox{background-image:url(clientlib-boing/resources/images/static/checkbox-tick.svg);background-position:50%;background-repeat:no-repeat;background-size:cover;border:0}

input:disabled~.boing-input__checkbox{border:.09375rem solid #b8b8b8}

.banner-section .banner-media{border-radius:.5rem;-o-object-position:center;object-position:center}

.banner-section__wrapper{padding-inline:.046875rem}

.banner-section__wrapper .boing__banner--cta{bottom:1.875rem}

@media(min-width:540px){
  .banner-section__wrapper .boing__banner--cta .cmp-button__text{width:50% !important}
}

.banner-section .video-wrapper .banner-video{border-radius:.5rem}

.banner-section .video-wrapper .video-icon{display:none;height:3rem;width:3rem}

.banner-section .video-wrapper .mute-icon{bottom:.8125rem;display:none;right:.6875rem}

.banner-section .video-wrapper .video-icon-volume{height:1.5rem;width:1.5rem}

.primary-swiper .cmp-carousel__actions{display:none}

.primary-swiper .primary-swiper-pagination{bottom:0;-webkit-transform:translateX(0);transform:translateX(0)}

.primary-swiper .swiper-container{background-color:transparent;height:0}

.primary-swiper .swiper-container .primary-swiper__buttonNext{height:2.8125rem;margin-top:0;right:7.5rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2.8125rem}

@media(max-width:575.98px){
  .primary-swiper .swiper-container .primary-swiper__buttonNext{display:none}
}

@media(min-width:992px){
  .primary-swiper .swiper-container .primary-swiper__buttonNext{top:calc(50% - 1.25rem)}
}

@media(min-width:1200px){
  .primary-swiper .swiper-container .primary-swiper__buttonNext{right:7.5rem}
}

.primary-swiper .swiper-container .swiper-buttonBg{background-color:transparent}

.primary-swiper .swiper-container .primary-swiper__buttonPrev{height:2.8125rem;left:7.5rem;margin-top:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2.8125rem}

@media(min-width:992px){
  .primary-swiper .swiper-container .primary-swiper__buttonPrev{top:calc(50% - 1.25rem)}
}

.primary-swiper .swiper-slide{--bs-aspect-ratio:133.3333333333%}

.primary-swiper .swiper-slide:before{content:"";display:block;padding-top:var(--bs-aspect-ratio)}

.primary-swiper .swiper-slide .banner{height:100%;left:0;position:absolute;top:0;width:100%}

.primary-swiper .swiper-slide .banner-gradient img,.primary-swiper .swiper-slide .banner-section,.primary-swiper .swiper-slide .banner-section__wrapper,.primary-swiper .swiper-slide .banner-section__wrapper .video-wrapper,.primary-swiper .swiper-slide .banner-section__wrapper video{height:100%}

.primary-swiper .swiper-pagination{-webkit-box-pack:center;-ms-flex-pack:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;justify-content:center;margin-top:1rem !important;position:relative !important}

.primary-swiper .swiper-pagination .swiper-pagination-bullet{background-color:#414141;height:.323125rem;opacity:1 !important;width:.323125rem}

.primary-swiper .swiper-pagination .swiper-pagination-bullet-active{background-color:#aa1f30;border-radius:50%;height:.29375rem;position:relative;width:.29375rem;z-index:2}

.primary-swiper .swiper-pagination .swiper-pagination-bullet-active:before{border:.05rem solid #aa1f30;border-radius:50%;content:"";height:.539375rem;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:.539375rem}

button,html,input,select,textarea{color:#222}

audio,canvas,img,video{vertical-align:middle}

a:focus{outline:0}

a{color:#000;outline:0 !important}

@media print{
  a,a:visited{text-decoration:none}
  a[href]:after{content:" (" attr(href) ")"}
  img,tr{page-break-inside:avoid}
  img{max-width:100% !important}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

audio,canvas,video{zoom:1;display:inline-block;display:inline}

button,html,input,select,textarea{font-family:sans-serif}

a:focus{outline:thin dotted}

a:active,a:hover{outline:0}

img{-ms-interpolation-mode:bicubic;border:0}

button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle}

button,input{line-height:normal}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible}

button[disabled],html input[disabled]{cursor:default}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

a,a:hover{text-decoration:none}

.primary-btn{color:#fff;display:inline-block}

.primary-btn,.primary-btn:active,.primary-btn:hover{background-color:#aa1f30}

button,input,optgroup,select,textarea{font:inherit}

.cmp-carousel__action { appearance: none; }

.object-fit-cover { object-fit: cover !important; }

.d-block { display: block !important; }

.d-flex { display: flex !important; }

.d-inline-flex { display: inline-flex !important; }

.d-none { display: none !important; }

.position-relative { position: relative !important; }

.position-absolute { position: absolute !important; }

.top-0 { top: 0px !important; }

.top-50 { top: 50% !important; }

.start-0 { left: 0px !important; }

.start-50 { left: 50% !important; }

.translate-middle-x { transform: translateX(-50%) !important; }

.w-75 { width: 75% !important; }

.w-100 { width: 100% !important; }

.h-100 { height: 100% !important; }

.justify-content-center { -webkit-box-pack: center !important; justify-content: center !important; }

.align-items-center { -webkit-box-align: center !important; align-items: center !important; }

.mt-6 { margin-top: 1.25rem !important; }

.mb-10 { margin-bottom: 2.25rem !important; }

.p-5 { padding: 1rem !important; }

.text-center { text-align: center !important; }

.bg-transparent, .bg-transparent-active:active, .bg-transparent-disabled:disabled, .bg-transparent-focus:focus, .bg-transparent-hover:hover { --bs-bg-opacity: 1; background-color: transparent !important; }

.rounded-pill { border-radius: var(--bs-border-radius-pill) !important; }

.z-0 { z-index: 0 !important; }

.z-2 { z-index: 2 !important; }

@media (min-width: 576px) {
  .d-sm-block { display: block !important; }
}

@media (min-width: 768px) {
  .mb-md-8 { margin-bottom: 1.75rem !important; }
}

.swiper { display: block; list-style: none; margin-left: auto; margin-right: auto; overflow: hidden; padding: 0px; position: relative; z-index: 1; }

.swiper-wrapper { box-sizing: content-box; display: flex; height: 100%; position: relative; transition-property: transform, -webkit-transform; transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial); width: 100%; z-index: 1; }

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper { transform: translateZ(0px); }

.swiper-horizontal { touch-action: pan-y; }

.swiper-slide { display: block; flex-shrink: 0; height: 100%; position: relative; transition-property: transform, -webkit-transform; width: 100%; }

.swiper-backface-hidden .swiper-slide { backface-visibility: hidden; transform: translateZ(0px); }

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader, .swiper:not(.swiper-watch-progress) .swiper-lazy-preloader { animation: 1s linear 0s infinite normal none running swiper-preloader-spin; }

.swiper-pagination { position: absolute; text-align: center; transform: translateZ(0px); transition: opacity 0.3s; z-index: 10; }

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: var(--swiper-pagination-bottom,8px); left: 0px; top: var(--swiper-pagination-top,auto); width: 100%; }

.swiper-pagination-bullet { background: var(--swiper-pagination-bullet-inactive-color,#000); border-radius: var(--swiper-pagination-bullet-border-radius,50%); display: inline-block; height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px)); opacity: var(--swiper-pagination-bullet-inactive-opacity,.2); width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px)); }

.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer; }

.swiper-pagination-bullet:only-child { display: none !important; }

.swiper-pagination-bullet-active { background: var(--swiper-pagination-color,var(--swiper-theme-color)); opacity: var(--swiper-pagination-bullet-opacity,1); }

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px); }

.boing--text__title-3, .primary-btn, .secondary-btn, .tertiary-btn { font-family: Barlow; font-size: 1rem; font-weight: 600; line-height: normal; }

input:checked ~ .boing-input__checkbox { background-image: url("clientlib-boing/resources/images/static/checkbox-tick.svg"); background-position: 50% center; background-repeat: no-repeat; background-size: cover; border: 0px; }

input:disabled ~ .boing-input__checkbox { border: 0.09375rem solid rgb(184, 184, 184); }

.banner-section .banner-media { border-radius: 0.5rem; object-position: center center; }

.banner-section__wrapper { padding-inline: 0.046875rem; }

.banner-section__wrapper .boing__banner--cta { bottom: 1.875rem; }

@media (min-width: 540px) {
  .banner-section__wrapper .boing__banner--cta .cmp-button__text { width: 50% !important; }
}

.banner-section .video-wrapper .banner-video { border-radius: 0.5rem; }

.banner-section .video-wrapper .video-icon { display: none; height: 3rem; width: 3rem; }

.banner-section .video-wrapper .mute-icon { bottom: 0.8125rem; display: none; right: 0.6875rem; }

.banner-section .video-wrapper .video-icon-volume { height: 1.5rem; width: 1.5rem; }

.primary-swiper .cmp-carousel__actions { display: none; }

.primary-swiper .primary-swiper-pagination { bottom: 0px; transform: translateX(0px); }

.primary-swiper .swiper-container { background-color: transparent; height: 0px; }

.primary-swiper .swiper-container .primary-swiper__buttonNext { height: 2.8125rem; margin-top: 0px; right: 7.5rem; top: 50%; transform: translateY(-50%); width: 2.8125rem; }

@media (max-width: 575.98px) {
  .primary-swiper .swiper-container .primary-swiper__buttonNext { display: none; }
}

@media (min-width: 992px) {
  .primary-swiper .swiper-container .primary-swiper__buttonNext { top: calc(50% - 1.25rem); }
}

@media (min-width: 1200px) {
  .primary-swiper .swiper-container .primary-swiper__buttonNext { right: 7.5rem; }
}

.primary-swiper .swiper-container .swiper-buttonBg { background-color: transparent; }

.primary-swiper .swiper-container .primary-swiper__buttonPrev { height: 2.8125rem; left: 7.5rem; margin-top: 0px; top: 50%; transform: translateY(-50%); width: 2.8125rem; }

@media (min-width: 992px) {
  .primary-swiper .swiper-container .primary-swiper__buttonPrev { top: calc(50% - 1.25rem); }
}

.primary-swiper .swiper-slide { --bs-aspect-ratio: 133.3333333333%; }

.primary-swiper .swiper-slide::before { content: ""; display: block; padding-top: var(--bs-aspect-ratio); }

.primary-swiper .swiper-slide .banner { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

.primary-swiper .swiper-slide .banner-gradient img, .primary-swiper .swiper-slide .banner-section, .primary-swiper .swiper-slide .banner-section__wrapper, .primary-swiper .swiper-slide .banner-section__wrapper .video-wrapper, .primary-swiper .swiper-slide .banner-section__wrapper video { height: 100%; }

.primary-swiper .swiper-pagination { -webkit-box-pack: center; -webkit-box-align: center; align-items: center; display: flex; justify-content: center; margin-top: 1rem !important; position: relative !important; }

.primary-swiper .swiper-pagination .swiper-pagination-bullet { background-color: rgb(65, 65, 65); height: 0.323125rem; width: 0.323125rem; opacity: 1 !important; }

.primary-swiper .swiper-pagination .swiper-pagination-bullet-active { background-color: rgb(170, 31, 48); border-radius: 50%; height: 0.29375rem; position: relative; width: 0.29375rem; z-index: 2; }

.primary-swiper .swiper-pagination .swiper-pagination-bullet-active::before { border: 0.05rem solid rgb(170, 31, 48); border-radius: 50%; content: ""; height: 0.539375rem; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 0.539375rem; }

button, html, input, select, textarea { color: rgb(34, 34, 34); }

audio, canvas, img, video { vertical-align: middle; }

a:focus { outline: 0px; }

a { color: rgb(0, 0, 0); outline: 0px !important; }

@media print {
  a, a:visited { text-decoration: none; }
  a[href]::after { content: " (" attr(href) ")"; }
  img, tr { break-inside: avoid; }
  img { max-width: 100% !important; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { zoom: 1; display: inline; }

button, html, input, select, textarea { font-family: sans-serif; }

a:focus { outline: dotted thin; }

a:active, a:hover { outline: 0px; }

img { border: 0px; }

button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { appearance: button; cursor: pointer; overflow: visible; }

button[disabled], html input[disabled] { cursor: default; }

a, a:hover { text-decoration: none; }

.primary-btn { color: rgb(255, 255, 255); display: inline-block; }

.primary-btn, .primary-btn:active, .primary-btn:hover { background-color: rgb(170, 31, 48); }

button, input, optgroup, select, textarea { font: inherit; }