.header-section-root {
  margin-bottom: 3.5rem; /* Equivalent to 56px assuming 16px base */
  position: relative;
}
.header-root {
  background-color: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.9375rem 0 rgba(0, 0, 0, 0.071); /* Equivalent to 2px 2px 15px 0 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem; /* Equivalent to 56px assuming 16px base */
  padding: 0.25rem 1rem; /* Equivalent to 4px 16px assuming 16px base */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
.header-app-name {
  display: none;
}
.header-menu-wrapper {
  width: 25%;
}
.header-logo-center-wrapper {
  display: flex;
  justify-content: center;
  width: 25%;
}
.header-logo-wrapper {
  display: flex;
  align-items: center;
}
.header-logo-img {
  display: inline-block;
  height: 3.125rem; /* Equivalent to 50px assuming 16px base */
}
.header-login-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.header-login-btn-wrapper {
  display: inline;
}
.header-login-btn {
  background-color: transparent;
  border: 0.0625rem solid #aa1f30; /* Equivalent to 1px solid */
  border-radius: 1rem; /* Equivalent to 16px assuming 16px base */
  color: #aa1f30;
  cursor: pointer;
  font-family: Barlow;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 600;
  padding: 0.5rem 0.75rem; /* Equivalent to 8px 12px assuming 16px base */
}
.header-submenu-container {
  bottom: -100vh;
  max-width: 33.75rem; /* Equivalent to 540px assuming 16px base */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}
.header-sidebar {
  background-color: #ffffff;
  height: 100vh;
  max-height: 100vh;
  scrollbar-width: none;
  position: absolute;
  top: 3.5rem; /* Equivalent to 56px assuming 16px base */
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 17.8125rem; /* Equivalent to 285px assuming 16px base */
  z-index: 999;
}
.header-sidebar-menu {
  list-style: none;
  padding: 0;
}
.header-sidebar-menu-item {
  border-bottom: 1px solid #d9d9d9;
  padding: 1.25rem 0; /* Equivalent to 20px 0px assuming 16px base */
}
.header-sidebar-menu-item--logout {
  display: none;
}
.header-sidebar-menu-link {
  color: #030303;
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  font-weight: 500;
  padding: 0 1.25rem; /* Equivalent to 0px 20px assuming 16px base */
  text-decoration: none;
}
.header-sidebar-menu-icon {
  height: 1.125rem; /* Equivalent to 18px assuming 16px base */
  width: 1.125rem; /* Equivalent to 18px assuming 16px base */
  margin-right: 1rem; /* Equivalent to 16px assuming 16px base */
}
.header-sidebar-curve {
  background-color: #ffffff;
  border-radius: 0 0 2rem 2rem; /* Equivalent to 0px 0px 32px 32px */
  bottom: -3rem; /* Equivalent to -48px assuming 16px base */
  height: 4.5rem; /* Equivalent to 72px assuming 16px base */
  overflow: hidden;
  position: relative;
  right: 0;
  transform: skewY(-8.34deg);
  z-index: 10;
}
.header-overlay {
  background-color: #000000;
  height: 100%;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
.header-footer-brand {
  background-color: #161616;
  padding-bottom: 6rem; /* Equivalent to 96px assuming 16px base */
  padding-top: 11.0625rem; /* Equivalent to 177px assuming 16px base */
  position: relative;
  width: 100%;
}
.header-footer-brand-primary {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 3.75rem 1rem; /* Equivalent to 0px 60px 16px assuming 16px base */
}
.header-container {
  padding: 0;
  width: 100%;
}
.header-footer-brand-primary--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem 7.5rem; /* Equivalent to 32px 120px assuming 16px base */
}
.header-footer-brand-left {
  display: flex;
  gap: 3.75rem; /* Equivalent to 60px assuming 16px base */
  padding: 0 2.25rem; /* Equivalent to 0px 36px assuming 16px base */
  align-items: center;
  justify-content: center;
}
.header-footer-brand-logo {
  display: inline-block;
  height: 3.9375rem; /* Equivalent to 63px assuming 16px base */
  min-width: 3.375rem; /* Equivalent to 54px assuming 16px base */
}
.header-footer-brand-secondary--logo {
  display: inline-block;
  max-height: 100%;
  min-width: 4.375rem; /* Equivalent to 70px assuming 16px base */
  width: 4.375rem; /* Equivalent to 70px assuming 16px base */
}
.header-no-rendition {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.header-footer-brand-right {
  width: 100%;
}
.header-footer-brand-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-footer-brand-navbar--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-right: 2rem; /* Equivalent to 32px assuming 16px base */
  width: 100%;
}
.header-footer-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.25rem; /* Equivalent to 36px assuming 16px base */
  list-style: none;
  padding: 0;
}
.header-footer-list-item {
  width: 100%;
}
.header-footer-list-item--link {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Barlow;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: normal;
}
.header-cta-analytics {
  text-decoration: none;
}
.header-footer-brand-navbar--right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-left: 2rem; /* Equivalent to 32px assuming 16px base */
  width: 100%;
}
.header-footer-brand-secondary {
  padding: 1rem 1.5rem; /* Equivalent to 16px 24px assuming 16px base */
}
.header-footer-brand-secondary--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1.5rem; /* Equivalent to 24px assuming 16px base */
}
.header-footer-brand-right {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem; /* Equivalent to 16px assuming 16px base */
}
.header-social-media--title {
  color: #ffffff;
  font-family: Barlow;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: 2rem; /* Equivalent to 32px assuming 16px base */
  padding-bottom: 1.25rem; /* Equivalent to 20px assuming 16px base */
  text-align: center;
}
.header-footer-brand-right--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Equivalent to 16px assuming 16px base */
  padding: 0 2.25rem; /* Equivalent to 0px 36px assuming 16px base */
  max-width: 100%;
}
.header-footer-brand-right--item {
  border-color: #f6bb00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-footer-brand-right--link {
  height: 2.6875rem; /* Equivalent to 43px assuming 16px base */
  width: 2.6875rem; /* Equivalent to 43px assuming 16px base */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s linear;
}
.header-footer-brand-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Equivalent to 8px assuming 16px base */
  padding: 1rem 0; /* Equivalent to 16px 0px assuming 16px base */
}
.header-footer-brand-left--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem; /* Equivalent to 8px assuming 16px base */
  list-style: none;
  padding: 0;
}
.header-footer-brand-left--item {
  border-right: 0.125rem solid rgba(255, 255, 255, 0.302); /* Equivalent to 2px solid */
  padding: 0 1.5rem; /* Equivalent to 0px 24px assuming 16px base */
}
.header-foot-link {
  border-right: 0.125rem solid rgba(255, 255, 255, 0.302); /* Equivalent to 2px solid */
}
.header-footer-brand-left--item:first-child {
  padding-left: 0;
}
.header-footer-brand-left--item:last-child {
  border: 0;
  padding-right: 0;
}
.header-footer-brand-left--link {
  color: #ffffff;
  display: inline-block;
  font-family: Barlow;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  line-height: 1.5;
  text-decoration: none;
}
.header-footer-brand-left--copyright {
  display: inline-block;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  line-height: 1.5;
  text-align: center;
}
.header-footer-brand-left--text {
  color: #ffffff;
}

@media (min-width: 768px) {
  .header-footer-brand-primary--content {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .header-footer-brand-navbar--left {
    flex-direction: row !important;
  }
  .header-footer-brand-navbar--right {
    flex-direction: row !important;
  }
  .header-footer-brand-secondary--content {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}

@media (max-width: 575.98px) {
  .header-sidebar {
    width: 17.8125rem; /* Equivalent to 285px assuming 16px base */
  }
}

@media (min-width: 992px) {
  .header-footer-brand-navbar--left {
    padding-right: 2rem; /* Equivalent to 32px assuming 16px base */
  }
  .header-footer-brand-navbar--right {
    padding-left: 2rem; /* Equivalent to 32px assuming 16px base */
  }
}

@media (min-width: 1200px) {
  .header-root {
    height: 3.5rem; /* Equivalent to 56px assuming 16px base */
  }
  .header-logo-img {
    height: 3.125rem; /* Equivalent to 50px assuming 16px base */
  }
  .header-login-btn {
    font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  }
  .header-sidebar {
    top: 3.5rem; /* Equivalent to 56px assuming 16px base */
  }
  .header-sidebar-menu-link {
    font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  }
  .header-sidebar-menu-icon {
    height: 1.125rem; /* Equivalent to 18px assuming 16px base */
    width: 1.125rem; /* Equivalent to 18px assuming 16px base */
  }
  .header-sidebar-curve {
    height: 4.5rem; /* Equivalent to 72px assuming 16px base */
  }
  .header-footer-brand {
    padding-bottom: 6rem; /* Equivalent to 96px assuming 16px base */
    padding-top: 11.0625rem; /* Equivalent to 177px assuming 16px base */
  }
  .header-footer-brand-primary {
    padding: 0 3.75rem 1rem; /* Equivalent to 0px 60px 16px assuming 16px base */
  }
  .header-footer-brand-left {
    gap: 3.75rem; /* Equivalent to 60px assuming 16px base */
    padding: 0 2.25rem; /* Equivalent to 0px 36px assuming 16px base */
  }
  .header-footer-brand-logo {
    height: 3.9375rem; /* Equivalent to 63px assuming 16px base */
    min-width: 3.375rem; /* Equivalent to 54px assuming 16px base */
  }
  .header-footer-brand-secondary--logo {
    min-width: 4.375rem; /* Equivalent to 70px assuming 16px base */
    width: 4.375rem; /* Equivalent to 70px assuming 16px base */
  }
  .header-footer-list-item--link {
    font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  }
  .header-footer-brand-secondary {
    padding: 1rem 1.5rem; /* Equivalent to 16px 24px assuming 16px base */
  }
  .header-social-media--title {
    font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
    line-height: 2rem; /* Equivalent to 32px assuming 16px base */
    padding-bottom: 1.25rem; /* Equivalent to 20px assuming 16px base */
  }
  .header-footer-brand-right--list {
    gap: 1rem; /* Equivalent to 16px assuming 16px base */
    padding: 0 2.25rem; /* Equivalent to 0px 36px assuming 16px base */
  }
  .header-footer-brand-right--link {
    height: 2.6875rem; /* Equivalent to 43px assuming 16px base */
    width: 2.6875rem; /* Equivalent to 43px assuming 16px base */
  }
  .header-footer-brand-left {
    padding: 1rem 0; /* Equivalent to 16px 0px assuming 16px base */
  }
  .header-footer-brand-left--item {
    padding: 0 1.5rem; /* Equivalent to 0px 24px assuming 16px base */
  }
  .header-footer-brand-left--link {
    font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  }
  .header-footer-brand-left--copyright {
    font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  }
}