.search-search {  background:#ff7f00;display:none;margin-top:-.0625rem  }

@media only screen and (max-width:1023px) { .search-search {  margin-top:0  } }

.search-search {   background: rgb(255, 127, 0); display: none; margin-top: -0.0625rem;   }

@media only screen and (max-width: 1023px) { .search-search {   margin-top: 0px;   } }