.aem-GridColumn{box-sizing:border-box;clear:both}

.d-inline-block{display:inline-block !important}

.d-block{display:block !important}

.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.d-none{display:none !important}

.w-100{width:100% !important}

.h-100{height:100% !important}

.flex-column,.flex-row{-webkit-box-direction:normal !important}

.flex-column{-webkit-box-orient:vertical !important;-ms-flex-direction:column !important;flex-direction:column !important}

.justify-content-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}

.mx-auto{margin-left:auto !important;margin-right:auto !important}

.pb-4{padding-bottom:.75rem !important}

.pb-5{padding-bottom:1rem !important}

.text-center{text-align:center !important}

.text-decoration-none{text-decoration:none !important}

.text-white,.text-white-active:active,.text-white-disabled:disabled,.text-white-focus:focus,.text-white-hover:hover{--bs-text-opacity:1;color:#fff !important}

.text-boing-dark,.text-boing-dark-active:active,.text-boing-dark-disabled:disabled,.text-boing-dark-focus:focus,.text-boing-dark-hover:hover{--bs-text-opacity:1;color:#030303 !important}

.boing--text__heading-0,.boing--text__heading-1{font-family:Barlow;font-weight:700;line-height:normal}

.boing--text__heading-1{font-size:1.5rem}

.boing--text__heading-2,.boing--text__heading-3{font-family:Barlow;font-weight:700;line-height:normal}

.boing--text__heading-3{font-size:1rem}

.boing--text__body-1,.boing--text__body-2{font-family:Barlow;font-weight:400;line-height:normal}

.boing--text__body-2{font-size:1rem}

.boing--text__body-3{font-family:Barlow;font-size:.75rem;font-weight:400;line-height:normal}

.boing--text__body-4{font-family:Barlow;font-size:.75rem;font-weight:600;line-height:1rem}

.cmp-text h1,.cmp-text h2{color:#161616;font-size:1.5rem;font-weight:700;line-height:normal}

.feature_card{margin-inline:auto;padding-bottom:1.5rem}

.feature_card--title{color:#aa1f30;margin-bottom:.25rem}

.feature_card--desc{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;overflow:hidden}

.feature_card .arrow-icon-btn{background-color:#aa1f30;border-radius:50%;cursor:pointer;height:2.5rem;width:2.5rem}

.bolteSitare_cardSection{border-radius:.75rem;-webkit-box-shadow:.125rem .25rem 1rem 0 rgba(0,0,0,.22);box-shadow:.125rem .25rem 1rem 0 rgba(0,0,0,.22);margin-bottom:1rem;padding:.75rem 1.125rem .75rem .75rem;position:relative;z-index:11}

.bolteSitare_cardSection:first-of-type{padding-top:1.25rem}

.bolteSitare_cardSection:last-of-type{margin-bottom:3.375rem}

.bolteSitare_cardSection--wrapper{gap:.75rem}

.bolteSitare_cardSection .content-wrapper{-webkit-box-flex:1;-ms-flex:1;flex:1}

.bolteSitare_cardSection--img{border-radius:.25rem;height:6.8125rem;width:8.3125rem}

.bolteSitare_cardSection--img .card-img{border-radius:.25rem}

.bolteSitare_cardSection--title{padding-bottom:.25rem}

.bolteSitare_cardSection--btn{background-color:#aa1f30;border-radius:6.25rem;cursor:pointer;height:1.8125rem;line-height:1.8125rem;padding:0 1rem;text-align:center;text-decoration:none}

.curve-container{background-color:#fff;border-radius:0 0 2rem 2rem;bottom:-3.6875rem;height:6.25rem;overflow:hidden;position:absolute;right:0;-webkit-transform:skewY(-6.2deg);transform:skewY(-6.2deg);width:100%;z-index:10}

.featureCards{padding:1.5rem 1rem 1rem;position:relative}

.featureCards .cmp-text{font-family:Barlow;font-size:1.5rem;font-weight:700;line-height:1.75rem;padding-bottom:1rem}

button,html,input,select,textarea{color:#222}

audio,canvas,img,video{vertical-align:middle}

a:focus{outline:0}

a{color:#000;outline:0 !important}

@media print{
  a,a:visited{text-decoration:none}
  a[href]:after{content:" (" attr(href) ")"}
  img,tr{page-break-inside:avoid}
  img{max-width:100% !important}
  h2,h3,p{orphans:3;widows:3}
  h2,h3{page-break-after:avoid}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

button,html,input,select,textarea{font-family:sans-serif}

a:focus{outline:thin dotted}

a:active,a:hover{outline:0}

img{-ms-interpolation-mode:bicubic;border:0}

button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle}

button,input{line-height:normal}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

a img{border:0}

a,a:hover{text-decoration:none}

button,input,optgroup,select,textarea{font:inherit}

.aem-GridColumn { box-sizing: border-box; clear: both; }

.d-inline-block { display: inline-block !important; }

.d-block { display: block !important; }

.d-flex { display: flex !important; }

.d-none { display: none !important; }

.w-100 { width: 100% !important; }

.h-100 { height: 100% !important; }

.flex-column, .flex-row { -webkit-box-direction: normal !important; }

.flex-column { -webkit-box-orient: vertical !important; flex-direction: column !important; }

.justify-content-between { -webkit-box-pack: justify !important; justify-content: space-between !important; }

.mx-auto { margin-left: auto !important; margin-right: auto !important; }

.pb-4 { padding-bottom: 0.75rem !important; }

.pb-5 { padding-bottom: 1rem !important; }

.text-center { text-align: center !important; }

.text-decoration-none { text-decoration: none !important; }

.text-white, .text-white-active:active, .text-white-disabled:disabled, .text-white-focus:focus, .text-white-hover:hover { --bs-text-opacity: 1; color: rgb(255, 255, 255) !important; }

.text-boing-dark, .text-boing-dark-active:active, .text-boing-dark-disabled:disabled, .text-boing-dark-focus:focus, .text-boing-dark-hover:hover { --bs-text-opacity: 1; color: rgb(3, 3, 3) !important; }

.boing--text__heading-0, .boing--text__heading-1 { font-family: Barlow; font-weight: 700; line-height: normal; }

.boing--text__heading-1 { font-size: 1.5rem; }

.boing--text__heading-2, .boing--text__heading-3 { font-family: Barlow; font-weight: 700; line-height: normal; }

.boing--text__heading-3 { font-size: 1rem; }

.boing--text__body-1, .boing--text__body-2 { font-family: Barlow; font-weight: 400; line-height: normal; }

.boing--text__body-2 { font-size: 1rem; }

.boing--text__body-3 { font-family: Barlow; font-size: 0.75rem; font-weight: 400; line-height: normal; }

.boing--text__body-4 { font-family: Barlow; font-size: 0.75rem; font-weight: 600; line-height: 1rem; }

.cmp-text h1, .cmp-text h2 { color: rgb(22, 22, 22); font-size: 1.5rem; font-weight: 700; line-height: normal; }

.feature_card { margin-inline: auto; padding-bottom: 1.5rem; }

.feature_card--title { color: rgb(170, 31, 48); margin-bottom: 0.25rem; }

.feature_card--desc { -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: -webkit-box; overflow: hidden; }

.feature_card .arrow-icon-btn { background-color: rgb(170, 31, 48); border-radius: 50%; cursor: pointer; height: 2.5rem; width: 2.5rem; }

.bolteSitare_cardSection { border-radius: 0.75rem; box-shadow: rgba(0, 0, 0, 0.22) 0.125rem 0.25rem 1rem 0px; margin-bottom: 1rem; padding: 0.75rem 1.125rem 0.75rem 0.75rem; position: relative; z-index: 11; }

.bolteSitare_cardSection:first-of-type { padding-top: 1.25rem; }

.bolteSitare_cardSection:last-of-type { margin-bottom: 3.375rem; }

.bolteSitare_cardSection--wrapper { gap: 0.75rem; }

.bolteSitare_cardSection .content-wrapper { -webkit-box-flex: 1; flex: 1 1 0%; }

.bolteSitare_cardSection--img { border-radius: 0.25rem; height: 6.8125rem; width: 8.3125rem; }

.bolteSitare_cardSection--img .card-img { border-radius: 0.25rem; }

.bolteSitare_cardSection--title { padding-bottom: 0.25rem; }

.bolteSitare_cardSection--btn { background-color: rgb(170, 31, 48); border-radius: 6.25rem; cursor: pointer; height: 1.8125rem; line-height: 1.8125rem; padding: 0px 1rem; text-align: center; text-decoration: none; }

.curve-container { background-color: rgb(255, 255, 255); border-radius: 0px 0px 2rem 2rem; bottom: -3.6875rem; height: 6.25rem; overflow: hidden; position: absolute; right: 0px; transform: skewY(-6.2deg); width: 100%; z-index: 10; }

.featureCards { padding: 1.5rem 1rem 1rem; position: relative; }

.featureCards .cmp-text { font-family: Barlow; font-size: 1.5rem; font-weight: 700; line-height: 1.75rem; padding-bottom: 1rem; }

button, html, input, select, textarea { color: rgb(34, 34, 34); }

audio, canvas, img, video { vertical-align: middle; }

a:focus { outline: 0px; }

a { color: rgb(0, 0, 0); outline: 0px !important; }

@media print {
  a, a:visited { text-decoration: none; }
  a[href]::after { content: " (" attr(href) ")"; }
  img, tr { break-inside: avoid; }
  img { max-width: 100% !important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { break-after: avoid; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

button, html, input, select, textarea { font-family: sans-serif; }

a:focus { outline: dotted thin; }

a:active, a:hover { outline: 0px; }

img { border: 0px; }

button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { appearance: button; cursor: pointer; overflow: visible; }

a img { border: 0px; }

a, a:hover { text-decoration: none; }

button, input, optgroup, select, textarea { font: inherit; }