.bannercta-boing--text__title-3,.bannercta-primary-btn,.bannercta-secondary-btn,.bannercta-tertiary-btn{font-family:Barlow;font-size:1rem;font-weight:600;line-height:normal}

.bannercta-lets-doodle .bannercta-famlf-carousel-cta.bannercta-primary-btn{background-color:#bb1f3b;color:#fff !important}

.bannercta-lets-doodle .bannercta-famlf-banner-cta.bannercta-primary-btn{background-color:#bb1f3b;color:#fff !important}

.bannercta-lets-doodle .bannercta-owl-carousel .bannercta-famlf-carousel-cta.bannercta-primary-btn{background-color:#bb1f3b;color:#fff !important}

.bannercta-primary-btn{color:#fff;display:inline-block}

.bannercta-primary-btn,.bannercta-primary-btn:active,.bannercta-primary-btn:hover{background-color:#aa1f30}

/* Inline style: a.bannercta-header__login-btn-wrapper.bannercta-analytics_cta_click */
a.bannercta-header__login-btn-wrapper.bannercta-analytics_cta_click { display: inline; }