.object-fit-cover{-o-object-fit:cover !important;object-fit:cover !important}

.d-block{display:block !important}

.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}

.d-none{display:none !important}

.position-relative{position:relative !important}

.position-absolute{position:absolute !important}

.top-0{top:0 !important}

.start-0{left:0 !important}

.start-50{left:50% !important}

.translate-middle-x{-webkit-transform:translateX(-50%) !important;transform:translateX(-50%) !important}

.w-100{width:100% !important}

.h-100{height:100% !important}

.justify-content-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}

.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}

.bg-transparent,.bg-transparent-active:active,.bg-transparent-disabled:disabled,.bg-transparent-focus:focus,.bg-transparent-hover:hover{--bs-bg-opacity:1;background-color:transparent !important}

.z-2{z-index:2 !important}

.banner-section .banner-media{border-radius:.5rem;-o-object-position:center;object-position:center}

.banner-section__wrapper{padding-inline:.046875rem}

.banner-section__wrapper .boing__banner--cta{bottom:1.875rem}

.banner-section .video-wrapper .banner-video{border-radius:.5rem}

.banner-section .video-wrapper .video-icon{display:none;height:3rem;width:3rem}

.banner-section .video-wrapper .mute-icon{bottom:.8125rem;display:none;right:.6875rem}

.banner-section .video-wrapper .video-icon-volume{height:1.5rem;width:1.5rem}

button,html,input,select,textarea{color:#222}

audio,canvas,img,video{vertical-align:middle}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

audio,canvas,video{zoom:1;display:inline-block;display:inline}

button,html,input,select,textarea{font-family:sans-serif}

button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle}

button,input{line-height:normal}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

button,input,optgroup,select,textarea{font:inherit}

.object-fit-cover { object-fit: cover !important; }

.d-block { display: block !important; }

.d-flex { display: flex !important; }

.d-none { display: none !important; }

.position-relative { position: relative !important; }

.position-absolute { position: absolute !important; }

.top-0 { top: 0px !important; }

.start-0 { left: 0px !important; }

.start-50 { left: 50% !important; }

.translate-middle-x { transform: translateX(-50%) !important; }

.w-100 { width: 100% !important; }

.h-100 { height: 100% !important; }

.justify-content-center { -webkit-box-pack: center !important; justify-content: center !important; }

.align-items-center { -webkit-box-align: center !important; align-items: center !important; }

.bg-transparent, .bg-transparent-active:active, .bg-transparent-disabled:disabled, .bg-transparent-focus:focus, .bg-transparent-hover:hover { --bs-bg-opacity: 1; background-color: transparent !important; }

.z-2 { z-index: 2 !important; }

.banner-section .banner-media { border-radius: 0.5rem; object-position: center center; }

.banner-section__wrapper { padding-inline: 0.046875rem; }

.banner-section__wrapper .boing__banner--cta { bottom: 1.875rem; }

.banner-section .video-wrapper .banner-video { border-radius: 0.5rem; }

.banner-section .video-wrapper .video-icon { display: none; height: 3rem; width: 3rem; }

.banner-section .video-wrapper .mute-icon { bottom: 0.8125rem; display: none; right: 0.6875rem; }

.banner-section .video-wrapper .video-icon-volume { height: 1.5rem; width: 1.5rem; }

button, html, input, select, textarea { color: rgb(34, 34, 34); }

audio, canvas, img, video { vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { zoom: 1; display: inline; }

button, html, input, select, textarea { font-family: sans-serif; }

button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { appearance: button; cursor: pointer; overflow: visible; }

button, input, optgroup, select, textarea { font: inherit; }