.sticky-navigation-trans-pop-up {
  background: #000000;
  display: none;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 33.75rem; /* Equivalent to 540px assuming 16px base */
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.sticky-navigation-sticky-bottom-nav {
  border-radius: 1rem 1rem 0 0; /* Equivalent to 16px assuming 16px base */
  box-shadow: 0.125rem -0.25rem 1rem 0 rgba(0, 0, 0, 0.431); /* Equivalent to 2px -4px 16px 0px assuming 16px base */
  height: 4.375rem; /* Equivalent to 70px assuming 16px base */
  padding: 0.625rem 0; /* Equivalent to 10px 0px assuming 16px base */
  z-index: 997;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #aa1f30;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 33.75rem; /* Equivalent to 540px assuming 16px base */
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.sticky-navigation-sticky-bottom-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.sticky-navigation-sticky-bottom-nav__item {
  text-align: center;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}
.sticky-navigation-sticky-bottom-nav__link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem; /* Equivalent to 2px assuming 16px base */
}
.sticky-navigation-sticky-bottom-nav__link.active {
  color: #f6bb00;
}
.sticky-navigation-sticky-bottom-nav__link.active:after {
  background-color: #f6bb00;
  border: 0.070625rem; /* Equivalent to 1.13px assuming 16px base */
  bottom: -0.3125rem; /* Equivalent to -5px assuming 16px base */
  content: "";
  display: block;
  height: 0.0625rem; /* Equivalent to 1px assuming 16px base */
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0.625rem; /* Equivalent to 10px assuming 16px base */
}
.sticky-navigation-sticky-bottom-nav__icon {
  display: block;
  height: 1.125rem; /* Equivalent to 18px assuming 16px base */
  width: 1.125rem; /* Equivalent to 18px assuming 16px base */
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
.sticky-navigation-sticky-bottom-nav__label {
  color: #ffffff;
  display: block;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 400;
  line-height: 0.9rem; /* Equivalent to 14.4px assuming 16px base */
}
